<nav class="navbar-default navbar-fixed-top">

    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav" style="width: 100%;">
            <li><a routerLink="general"><i class="fa-solid fa-border-all"></i></a></li>
            <li><a routerLink="users"><i class="fa-solid fa-users"></i></a></li>
            <li><a routerLink="products"><i class="fa-solid fa-store"></i></a></li>
            <li><a routerLink="programs"><i class="fa-solid fa-hands-holding-child"></i></a></li>
            <li><a routerLink="blog"><i class="fa-solid fa-square-rss"></i></a></li>
            <li><a routerLink="services"><i class="fa-solid fa-calendar-days"></i></a></li>
            <li><a routerLink="reports"><i class="fa-solid fa-flag"></i></a>
            <li style="float: right !important;"><a href="https://centervnl.ru/"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        </ul>
    </div>
</nav>
<div class="container first-container">
    <router-outlet></router-outlet>
</div>


