<nav class="navbar-default">


    <!-- <div class="-navbar-collapse -collapse" id="navbar-main"> -->
        <ul class="nav">
            <li><a routerLink="general"><i class="fa-solid fa-border-all"></i></a></li>
            <li><a routerLink="users/forms"><i class="fa-solid fa-users"></i></a></li>
            <li><a routerLink="products"><i class="fa-solid fa-store"></i></a></li>
            <li><a routerLink="programs"><i class="fa-solid fa-hands-holding-child"></i></a></li>
            <li><a routerLink="blog"><i class="fa-solid fa-square-rss"></i></a></li>
            <li><a routerLink="services"><i class="fa-solid fa-calendar-days"></i></a></li>
            <li><a routerLink="library"><i class="fa-solid fa-book"></i></a></li>
            <li><a routerLink="docs"><i class="fa-solid fa-flag"></i></a>
            <li><a routerLink="files"><i class="fa-solid fa-file-image"></i></a>
        </ul>
    <!-- </div> -->
</nav>
<div class="container -first-container">
    <router-outlet></router-outlet>
</div>


