/* You can add global styles to this file, and also import other style files */

@import url('https://centervnl.ru/bootstrap/css/bootstrap.css');
@import url('https://centervnl.ru/bootstrap/css/amelia.bootstrap.css');
@import url('https://centervnl.ru/stylesheets/style.css');

.text-blue-hover:hover {
    color: rgb(15,79,79);
}

.text-blue-hover {
    color: rgb(3,178,183);
    cursor: pointer;
}