/* You can add global styles to this file, and also import other style files */

@import url('./theme/bootstrap.css');
@import url('./theme/amelia.bootstrap.css');
@import url('./theme/style.css');

.text-blue-hover:hover {
    color: rgb(15,79,79);
}

.text-blue-hover {
    color: rgb(3,178,183);
    cursor: pointer;
}

.desc-text {
    width: 100%;
    border-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 40px !important;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .small-photo-table {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .mark-size {
    font-size: 40px;
  }

  table {
    max-width: 100vw !important;
  }