<div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление {{title}}</h5>
                <button type="button" class="btn-close" (click)="close(false)"></button>
            </div>
        <div class="modal-body">
            <p>Вы уверены, что хотите удалить {{text}}?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close(false)">Отмена</button>
            <button type="button" class="btn btn-custom" (click)="close(true)">Удалить</button>
        </div>
      </div>
    </div>
</div>
