<app-page-title title="Мероприятия" text="Здесь можно работать с мероприятиями и записями на них"></app-page-title>

<hr>
<h3>Текст на странице мероприятия</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
    <div class="row">
        <div class="col">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
        </div>
        <div class="col-2">
            <button class="btn btn-custom" type="submit">
                Сохранить
            </button>
        </div>
    </div>
</form>

<a class="btn btn-custom mt-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0 && !loading">
    <i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-custom mt-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && !loading">
    <i class="fa fa-arrow-right"></i>
</a>
<app-table (create)="createService($event)" (edit)="editService($event)" 
*ngIf="!loading; else loader" [data]="services" [offset]="offset" [title]="['Название', 'Запись', 'Описание']" [columns]="[2, 1, 6]"></app-table>

<a class="btn btn-custom mb-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0 && !loading">
    <i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-custom mb-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && !loading">
    <i class="fa fa-arrow-right"></i>
</a>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
