<div class="col" *ngIf="loading == 0; else loader">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h3>{{id ? 'Редактирование' : 'Добавление'}} программы</h3>
              <h5>Название:</h5>
              <input type="text" class="form-control" formControlName="name">

              <h5>Подназвание:</h5>
              <input type="text" class="form-control" formControlName="subtitle">

              <h5>Путь:</h5>
              <input type="text" class="form-control" formControlName="path" placeholder="Необязательно">
              <h5>Иконка из файла:</h5>
              <input type="file" class="form-control" (change)="onFileUpload($event)">
              <h5>Иконка по ссылке:</h5>
              <input type="text" class="form-control" formControlName="image" (change)="photoURL()"
              placeholder="Добавляйте только общедоступные ссылки">
          </div>
          <div class="col-xs-12 col-sm-6">
              <img *ngIf="imagePreview" [src]="imagePreview" class="img-contain">
          </div>
      </div>
      
      <h5>Кому мы помогаем?</h5>
      <textarea class="form-control" formControlName="text_1" rows="5"></textarea>
      <h5>Как мы помогаем?</h5>
      <textarea class="form-control" formControlName="text_2" rows="5"></textarea>
      <h5>Что меняется для наших подопечных?</h5>
      <textarea class="form-control" formControlName="text_3" rows="5"></textarea>

      <h5>Как работает программа?</h5>
      <div formArrayName="text_4">
        <div class="input-group mb-3" *ngFor="let photo of form.controls.text_4.controls; index as i">
          <textarea class="form-control" [formControlName]="i" rows="3"></textarea>
          <span class="input-group-text input-group-btn btn btn-custom" (click)="deleteItemByIndex('text_4', i)">
            <i class="fa fa-trash"></i>
          </span>
        </div>
      </div>
      <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusToFormArray('text_4')">
          <i class="fa fa-plus"></i>
      </button>
      
      <h5>Бюджет программы</h5>
      <textarea class="form-control" formControlName="text_5" rows="3"></textarea>
      <h5>Войти в пограмму</h5>
      <textarea class="form-control" formControlName="text_6" rows="3"></textarea>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h5>Текст кнопки приглашения</h5>
          <input type="text" class="form-control" formControlName="text_button">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h5>Ссылка кнопки приглашения</h5>
          <input type="text" class="form-control" formControlName="url_button">
        </div>
      </div>
      


      <h5>Добавить в галерею из файлов:</h5>
      <input type="file" class="form-control" (change)="onGalleryUpload($event)" multiple>
      <app-horizontal-gallery [data]="galleryPreview"  (delete)="deletePhotoByIndex($event)"></app-horizontal-gallery>
      <h5>Добавить в галерею по ссылке:</h5>
      <div formArrayName="gallery">
          <div class="input-group mb-3" *ngFor="let photo of form.controls.gallery.controls; index as i">
              <input class="form-control" type="text" placeholder="Добавляйте только общедоступные ссылки"
              [formControlName]="i">
              <span class="input-group-text input-group-btn btn btn-custom" (click)="deleteItemByIndex('gallery', i)">
                <i class="fa fa-trash"></i>
              </span>
          </div>
      </div>
      <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusToFormArray('gallery')">
          <i class="fa fa-plus"></i>
      </button>
      <app-horizontal-gallery [data]="form.value.gallery" (delete)="deleteItemByIndex('gallery', $event)"></app-horizontal-gallery>

      <div class="form-check form-switch mt-2">
          <input class="form-check-input mt-1" type="checkbox" id="flexSwitchCheckChecked" formControlName="visible">
          <h5>Отображать на сайте</h5>
      </div>
      <button class="btn btn-secondary mt-3 me-2 mb-3" type="button" (click)="back()">
          Назад
      </button>
      <button class="btn btn-custom mt-3 mb-3" type="submit">
          {{id ? 'Сохранить' : 'Создать'}}
      </button>
  </form>
</div>

<!-- <app-hypertext-modal *ngIf="htModal" (close)="closeHtModal($event)"></app-hypertext-modal> -->

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

