extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        a.col-12.back__subtitle(href='/about/') О нас
        .col-12.header__subtitle.title Кто мы?
      .row.mx-xl-5.about__wrapper
        .container
          img.background__image(src='/img/bg_main.jpg' alt='bg')
        .about__wrapper
          p.target__text
            | АНО Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь» - некоммерческая организация, которая помогает подросткам и молодым людям с ментальными нарушениями приобрести необходимые навыки для того, чтобы лучше ориентироваться в различных социальных ситуациях, таких, как взаимодействии с другими людьми, устройстве на работу, совершении покупок, оплаты по счетам.
            | Мы помогаем семьям, воспитывающим детей с ментальными нарушениями справляться с повседневными трудностями, находить ресурсы для радости и обычной жизни.
            | Мы работаем в партнерстве с Домом сопровождаемого проживания «Гурьевский», где большинство наших подопечных проживают и осваивают навыки самостоятельности в быту. Вместе с Центром «Гурьевский» мы реализуем Практику подготовки к сопровождаемому проживанию «Обычные люди».
    .container
      .row.mx-xl-5
        .col-12.header__subtitle.subtitle Наша миссия
      .row.mx-xl-5.about__wrapper
        p.target__text
          | cодействовать тому, чтобы у человека с ментальными ограничениями было как можно меньше социальных ограничений.
    .container
      .row.mx-xl-5
        .col-12.header__subtitle.subtitle Наши ценности
      .row.mx-xl-5.about__wrapper
        p.standart__text
          span.orange__header-48 1
          span.value__text Открытость
        p.standart__text
          span.orange__header-48 2
          span.value__text Ориентированность на результат
        p.standart__text
          span.orange__header-48 3
          span.value__text Учет мнения благополучателя
        p.standart__text
          span.orange__header-48 4
          span.value__text Доказательность
        p.standart__text
          span.orange__header-48 5
          span.value__text Проактивность
    .container
      .row.mx-xl-5
        .col-12.header__subtitle.subtitle Наша история
      .row.mx-xl-5
        .blue__header-48 2015-2016
        p.std__descr
          span Начала формироваться идея создания некоммерческой организации.
          |  Тогда наша команда работала в государственной организации, Центре содействия семейному воспитанию «Вера. Надежда. Любовь», который возглавляла директор Ирина Юрьевна Шпитальская. Создание НКО дало бы больше возможностей для оказания помощи, устранив ограничения, связанные с возрастом детей.
        .blue__header-48 2017
        p.std__descr
          span
            | Официально зарегистрирована АНО Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь».
          |  Ресурсный центр – потому что именно он должен был стать источником ресурсов, технологий и методик для… С этого момента мы начали помогать не только детям, но и молодым взрослым после 18 лет.
        .blue__header-48 2018
        p.std__descr
          span Определены главные приоритеты Центра, а именно - учет голоса ребенка.
          |  Для того, чтобы внедрять какие-либо практики, мы решили изучать потребности детей, а для этого спросить о них самих детей. Сложностью стало то, что многие из них не могли рассказать о своих потребностях. При поддержке Фонда Тимченко, наш Ресурсный Центр провёл исследование, нацеленное выявление имеющегося потенциала реагирования воспитанников с выраженными, тяжелыми, множественными нарушениями развития.
        .blue__header-48 2019
        p.std__descr
          span Реализован проект «Хочу и могу!»
          | , в котором были проверены и внедрены «Сигнальные карты» и «Карты предпочтения», ставшие для специалистов «голосом ребенка», который не мог говорить. С помощью этих инструментов мы начали собирать информацию от самих детей с ментальными нарушениями: чем им нравится заниматься, во что и с кем играть, что нравится и не нравится из еды и одежды. Именно с учетом голоса ребенка организация начала разрабатывать различные программы поддержки.
        .blue__header-48 2020
        p.std__descr
          span У Центра появилось свое пространство на Ключевой улице.
          |  В рамках конкурса «Москва — добрый город» наша организация стала победителем отбора для размещения в помещениях г. Москвы. Так появилась возможность реализовывать благотворительные программы в новом помещении. В этом же году было разработано Web-приложение ЭМО для общения людей с ментальными нарушениями. Приложение дополнено мобильной версией и доступно для скачивания в AppStore и Google Play.
        .blue__header-48 2021
        p.std__descr
          span
            | Практика учебного и тренировочного сопровождаемого проживания «Обычные люди» заняла I место
          |  в номинации «Лучшая практика сопровождаемого проживания» конкурсе профессионального мастерства в сфере социального обслуживания Министерство труда и социальной защиты Российской Федерации.
        .blue__header-48 2022
        p.std__descr
          span Создано и развивается пространство «Обычные люди» с Открытой гостиной.
          |  Это значит, что любой человек может легко вступить в существующие программы Центра, посещать еженедельные мероприятия с открытой регистрацией. Сами мероприятия организованы подростками и молодыми людьми с ментальными особенностями развития, а также семьями.
    