extends layout

block content
  section.about
    .container
      .mx-xl-5
        .about__title.title О нас
        .row.about__wrapper
          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/about/list')
              .about__img
                img.about__image(src='/img/about/start/about_1.svg' alt='Кто мы?')
              .about__descr Кто мы?

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/team/')
              .about__img
                img.about__image(src='/img/about/start/about_2.svg' alt='Наша команда')
              .about__descr Наша команда
          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/docs/')
              .about__img
                img.about__image(src='/img/about/start/about_3.svg' alt='Документы и отчеты')
              .about__descr Документы и отчеты

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/wins/')
              .about__img
                img.about__image(src='/img/about/start/about_4.svg' alt='Наши победы')
              .about__descr Наши победы

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/partners/')
              .about__img
                img.about__image(src='/img/about/start/about_5.svg' alt='Наши партнеры')
              .about__descr Наши партнеры

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/press/')
              .about__img
                img.about__image(src='/img/about/start/about_6.svg' alt='СМИ о нас')
              .about__descr СМИ о нас

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/contacts/')
              .about__img
                img.about__image(src='/img/about/start/about_7.svg' alt='Контакты')
              .about__descr Контакты

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/gallery/')
              .about__img
                img.about__image(src='/img/about/start/about_8.svg' alt='Фото и видео')
              .about__descr Фото и видео

          .col-12.col-sm-6.col-md-4.col-lg-3.mt-4
            a.about__item(href='https://centervnl.ru/projects/')
              .about__img
                img.about__image(src='/img/about/start/about_9.svg' alt='Гранты и субсидии')
              .about__descr Гранты и субсидии
