extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/about/') О нас
        h1.col-12.header__subtitle.title.mb-5 Контакты
        .col-12
          //- #map
          <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=55518731734" id="map" frameborder="0"></iframe>
        .col-12 
          .row.mt-5 
            .col-12.col-md-6.mt-3 
              .title-700-20.title-700-20-light Телефон:
              .text-400-20= contacts.phone
            .col-12.col-md-6.mt-3 
              .title-700-20.title-700-20-light E-mail:
              .text-400-20= contacts.email
            .col-12.col-md-6.mt-3 
              .title-700-20.title-700-20-light Фактический адрес:
              .text-400-20 
                | 115612 г. Москва, 
                | ул. Ключевая, д.22, корп.2
                | График работы:
                | ПН-ПТ с 9.00 до 18.00, СБ с 10.00 до 15.00
            .col-12.col-md-6.mt-3 
              .title-700-20.title-700-20-light Юридический адрес:
              .text-400-20
                | 115114 г. Москва, 
                | ул. Дербеневская 18-1-69

            .col-12.col-md-6.col-lg-4.mt-4
              .d-flex.align-items-center
                a.doc-icon.d-inline-block(href= '/img/docs/как добраться.pdf' target="_blank")
                a.news__subtitle.col.ms-3(href= '/img/docs/как добраться.pdf' target="_blank") Как дойти до Центра "Вера. Надежда. Любовь" от м. Алма-Атинская

        .col-12.mt-5
          h2.title-700-20 Реквизиты
          .text-400-14.mt-4 Название организации: Автономная некоммерческая организация 
          .text-400-14 «Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь»
          .text-400-14.mt-3 ИНН 7725401309
          .text-400-14.mt-3 КПП 772501001
          .text-400-14.mt-3 ОГРН 1177700019067
          .text-400-14.mt-3 ОКПО 20002308;
          .text-400-14.mt-3 ОКТМО 45914000000; ОКАТО 45296559000
          .text-400-14.mt-3 Банковские реквизиты: Отделение Сбербанка №9038/01606 в г.Москва
          .text-400-14.mt-3 р/сч 40703810838000008526
          .text-400-14.mt-3 к/сч 30101810400000000225
          .text-400-14.mt-3 БИК 044525225 Тел. +7-916 612 34 71
          .text-400-14.mt-3 Директор Романова Е.А.

        .col-12.mt-5
          form#form.row(action="/form" method="post")
            h2.title-700-20 Обратная связь
            .text Если вы посетили наш центр, вы можете <a href="https://yandex.ru/maps/org/vera_nadezhda_lyubov/55518731734/reviews/?add-review=true&from=mapframe&ll=37.762085%2C55.631870&z=17" target="_blank">оставить отзыв на Яндексе</a>. Также вы можете заполнить анкету ниже, чтобы связаться с нами по любым вопросам. Мы ответим в течение нескольких дней. Спасибо!
            .col-12.col-md-6.mt-3
              .text-400-16 Как вас зовут?
              input.d-none(name="q_name" value="Как вас зовут?")
              input.text-input.mt-2(type='text' name='name' autocomplete='given-name' placeholder="Например, Иван" required)
            
            .col-12.col-md-6.mt-3
              .text-400-16 Телефон для связи
              input.d-none(name="q_tel" value="Телефон для связи")
              input.text-input.mt-2(type='tel' name='tel' autocomplete='tel' placeholder="Например, +7 916 953 83 38" required)

            .col-12.col-md-6.mt-3
              .text-400-16 Ваш email
              input.d-none(name="q_email" value="Ваш email")
              input.text-input.mt-2(type='email' name='email' autocomplete='email' placeholder="Например, example@mail.ru" required)

            .col-12.col-md-6.mt-3
              .text-400-16 Ваш вопрос
              input.d-none(name="q_question" value="Ваш вопрос")
              input.text-input.mt-2(type='text' name='question' autocomplete='off' placeholder="Текст вопроса" required)

            .mt-4 
              .col-12.mt-2 
                span.text-400-16 Нажимая на кнопку, вы даете 
                  a(href='/policy' target="_blank") согласие на обработку своих персональных данных

            .mt-4
              button.button.button_orange(type='submit') Отправить

block scripts
  //- script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=b8a04a7a-e4c3-45cf-97ba-eda8168528ca' type='text/javascript')
  script(src='/javascripts/map.js')
  script(src='/javascripts/valid-form.js')