extends layout

block content
  .row
    h1.col-10 ДоброКолледж летом

  hr
  .text-justify.col-12 Скоро лето, но ДоброКолледж не уходит на каникулы: вас ждут новые уроки и интересные занятия. Выбери, что тебе интересно и присоединяйся.
  hr

  .row
    form#priceList(action="/services/good-college-summer" method="post" role="form")
      .col-12.col-md-6
        h4.marck-script Выбери темы уроков, которые хочешь пройти
        .form-check
          label.d-block
            input(type='checkbox' name='lessons' value="Путешествие") 
            | Путешествие
            img.d-block(src="https://lh5.googleusercontent.com/PPVyOCXuBhSReIBNuCPHfqolvOOn_7FUcmTW9kqEHGb5kTkakYY57rti2G2qHblw_N19l0sDNWpZXfZKYPJiEuIlCV_JosWAlb4X2OCHKsUx4qPgdi2yniSCm6icuiLzAw=w260" alt="Путешествие")
          label.d-block
            input(type='checkbox' name='lessons' value="Банкомат") 
            | Банкомат
            img.d-block(src="https://lh6.googleusercontent.com/Y6UEvm7uj9N-YrAM_XFqnubc2L0PH5rgPSKpKfnd7SdHDWxOYw0yf7Kt6zSp3oQl2cO_6krB2EfAZKW6OyiTmt2yU4I7_DYr9hkkBANno8yoqf8Pew7fqOdnZjkFlDEKpg=w260" alt="Банкомат")
          label.d-block
            input(type='checkbox' name='lessons' value="Сервировка")
            | Сервировка
            img.d-block(src="https://lh3.googleusercontent.com/t6J1ZwvUQgZ0zBLxF3Sb_TLGUXOqumWVpN9wUJRAO9MRuzrwFPO9wmAF5PS8CP2cdtThsRyixbEO4b2_g0BEKDEYMyNEfT_pZIbl28aT_XPuxasZ4ukWrnQ-iLo1Tg-DyQ=w260" alt="Сервировка")
          label.d-block
            input(type='checkbox' name='lessons' value="Рукоделие")
            | Рукоделие
            img.d-block(src="https://lh4.googleusercontent.com/CSLk7gtmszxkehcOvHsAYshmtRL107x4J-DjZGoBupNlXpqHGG_cvn6g07iTuGp-71P1RHWv9Q4l0jvpcEIch1JcCQOr8eocoxKAWsIQbcv2C9_fPMwmEwhNwLYSieZN6A=w260" alt="Рукоделие")
          label.d-block
            input(type='checkbox' name='lessons' value="Мой гардероб")
            | Мой гардероб
            img.d-block(src="https://lh5.googleusercontent.com/dyJ4gLBLJP6Tg2LCJBKG7QGCTnv5yqNEsxng67Xg2SH4PxiBz4ZPyW6XgXja2wuWKaLkHdr6GAEWbxJwF7EgGD5y_JyJHucY49u4FBvX2VvWezQQxd-6DR0IWbH4xn7zag=w260" alt="Мой гардероб")
          label.d-block
            input(type='checkbox' name='lessons' value="Красивая подача")
            | Красивая подача
            img.d-block(src="https://lh5.googleusercontent.com/3sIgiT81oJYcoiNqRw-tzOMK3LR6dTNO__3UyaZW4NkQlqS2WXJxm8lb76LktXTVb_yB43cnMSufMZtDEG1ydNC_XvuABhsSJyGof7xRAB3vKEROKyaBM2XkFjBJf3MI2A=w260" alt="Красивая подача")
          
          h4.marck-script.text-start Предложи урок, который бы еще хотел(а)
          .mb-3
            input.form-control(type='text' name='lessons' value="")

      .col-12.col-md-6
        h4.marck-script Выбери тематический день, на который хочешь прийти
        .form-check
          label.d-block
            input(type='checkbox' name='day' value="День кино")
            | День кино
            img.d-block(src="https://lh6.googleusercontent.com/3qUhGHjHA6pkjyoLveMd2vX-0bBJtzskrslTqwJlG2MXfrYDDE_V9Ai5mwt47_OHHJbs1k0bhBC4zikoadZqz5WNFLE4Y2WwEJ2QbYkebfr3LbXicYu-PCcBrI0TAk_XCw=w260" alt="День кино")
          label.d-block
            input(type='checkbox' name='day' value="День творчества")
            | День творчества
            img.d-block(src="https://lh3.googleusercontent.com/7sX8qYAgPe1Kt1RcNR4QGAeKVzpPVrMfsNNDvp-tbxJ3-2RZ09e9mxTFWKwdc_jvWECF3Hh9vI4so5ePhbjJXyVF6c6_8ivc13bGshjgegrzx9NomA0oPbinvTtSTVGL2w=w260" alt="День творчества")
          label.d-block
            input(type='checkbox' name='day' value="День игры")
            | День игры
            img.d-block(src="https://lh4.googleusercontent.com/G43yadqWpUJ28zhc2LVUwJHxPBJ1jrHkJP7nlGrBuYzieUiJKU6YRrYbcwDFwnuvqmOU4sEAbUoNr2VoWULHnFpBvgBYMFFpOqhshxjhafbJJYDTL4vTwbOYf_58qEriSA=w260" alt="День игры")
          label.d-block
            input(type='checkbox' name='day' value="Красивая подача")
            | Красивая подача
            img.d-block(src="https://lh3.googleusercontent.com/dr8AizaMq9P9uqKCDIId0rlSAVPYv43gLzny5bQcCrDqhUhSpznS-2hGywHN9gnJpdmEAp9_EzOS5OtPwogJHXa2twgnxsZLNjzawBGkLp_OayJ0GSVgrBl5-y5V0WrSIg=w260" alt="Красивая подача")

          h4.marck-script.text-start Предложи свою тему
          .mb-3
            input.form-control(type='text' name='day' value="")
      .row.col-12
        .text-center
          if !user
            button.orange-button(data-bs-toggle='modal', href='#authModal', type="button") Для заполнения формы зарегистрируйтесь
          else if isRepit
            button.orange-button(type="submit") Заполнить форму ещё раз
          else
            button.orange-button(type="submit") Заполнить форму
  hr

