extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        a.col-12.back__subtitle(href='/about/') О нас
        .col-12.header__subtitle.title Документы и отчеты
      .row.mx-xl-5.about__wrapper
        p.target__text
          +long-text(text)

        .title-500-32.mt-5 Уставные документы
          .row.mt-5 
            each doc in docs 
              .col-12.col-md-6.col-lg-4 
                .row.d-flex.align-items-center
                  a.doc-icon.d-inline-block(href= doc.file target="_blank")
                  .news__subtitle.col.ms-2= doc.name