extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col.about__title.title= error.status
    .container 
      .row.mx-xl-5
        .col.about__title.title
          .text-400-16= error.message

        .col-12.mt-5
          button.news__button.button.button_orange(onclick="history.back();") Вернуться назад