extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        a.col-12.back__subtitle-top.back__subtitle-child(href='/about/') О нас
        .col-12.header__subtitle.title Фото и видео