extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/about/') О нас
        h1.col-12.header__subtitle.title Фото и видео 
      
      .row.mx-xl-5.mt-5#gallery_container
        //- Этот контейнер будет содержать изображения
      .modal-container
        .modal
          span.arrow.left &larr;
          img.modal-content(src='')
          span.arrow.right &rarr;
          span.close-modal &times;
    
  .d-none#showmore_triger(data-page=0)

block scripts
  script(src="/javascripts/gallery.js")
  script(src="/javascripts/modal.js")