extends layout

block content
  h2= title
  hr
  p Организация реализует свои благотворительные программы преимущественно в г. Москве, а также расширяет свое сотрудничество с регионами РФ.
  p
    b= 'г. Москва:'
  p
    | Люди с инвалидностью – 188 
  p
    | Семьи в кризисной и трудной жизненной ситуации – 34 
  p
    | Семьи усыновителей – 3
  p
    | Дети-сироты и дети, оставшиеся без попечения родителей – 14
  p
    | Люди, проживающие в ПНИ – 8
  p
    | Волонтеры – 73
  p
    | Специалисты – 73
  p
    | Родительские сообщества – 1
  img.w-100(src="https://centervnl.ru/uploads/05062022_103612_135_6429_geography.jpeg", alt="География деятельности")