extends layout

block content


  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/help/') Как помочь
        h1.col-12.header__subtitle.title Пожертвуйте баллы на сайте «Активный гражданин» и в программе «Миллион призов»

        .col-12.mt-5 На этой странице можно проверить свой промокод и убедиться, что ваши баллы поступили в Ресурсный центр «Вера. Надежда. Любовь».


        .row.mt-5
          .col-12.col-md-6.col-lg-4.mt-3  
            .d-flex.align-items-center
              a.doc-icon.d-inline-block.me-2(href='/img/docs/mp090923_040224.pdf' target="_blank")
              .col.d-flex.flex-column
                a.title-700-20.hover-orange.col-12.ms-2(href='/img/docs/mp090923_040224.pdf' target="_blank") Коды пожертвований
                a.text-500-16.hover-orange.col-12.ms-2(href='/img/docs/mp090923_040224.pdf' target="_blank") 09.09.2023 - 02.04.2024 г.

          .col-12.col-md-6.col-lg-4.mt-3  
            .d-flex.align-items-center
              a.doc-icon.d-inline-block.me-2(href='/img/docs/mp160324_160624.pdf' target="_blank")
              .col.d-flex.flex-column
                a.title-700-20.hover-orange.col-12.ms-2(href='/img/docs/mp160324_160624.pdf' target="_blank") Коды пожертвований
                a.text-500-16.hover-orange.col-12.ms-2(href='/img/docs/mp160324_160624.pdf' target="_blank") 16.03.2024 - 22.09.2024 г.

          .col-12.col-md-6.col-lg-4.mt-3  
            .d-flex.align-items-center
              a.doc-icon.d-inline-block.me-2(href='/img/docs/07_09_2024_kody_pozhertvovany.pdf' target="_blank")
              .col.d-flex.flex-column
                a.title-700-20.hover-orange.col-12.ms-2(href='/img/docs/07_09_2024_kody_pozhertvovany.pdf' target="_blank") Коды пожертвований
                a.text-500-16.hover-orange.col-12.ms-2(href='/img/docs/07_09_2024_kody_pozhertvovany.pdf' target="_blank") 07.09.2024 - 15.12.2024 г.      