extends layout

block content


  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/help/') Как помочь
        h1.col-12.header__subtitle.title Пожертвуйте баллы на сайте «Активный гражданин» и в программе «Миллион призов»

        .col-12.mt-5 Раздел находится в разработке, скоро всё заработает