extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col.about__title.title Как помочь

      .row.mx-xl-5.about__wrapper
        .col-12.col-lg-6.mb-4
          a.rectangle-290-123.hover-blue.d-flex.flex-column.justify-content-center.align-items-between.p-4(href= "donate/")
            .row
              .col-8.d-flex.flex-column.justify-content-center
                .title-500-32.z-100 Сделать пожертвование
              .col-4
                img.img-contain(src="/img/help/help_1.svg")

        .col-12.col-lg-6.mb-4
          a.rectangle-290-123.d-flex.flex-column.justify-content-center.align-items-between.p-4
            .row
              .col-8.d-flex.flex-column.justify-content-center
                .title-500-32.z-100 Стать корпоративным партнером
              .col-4
                img.img-contain(src="/img/help/help_2.svg")


        .col-12.col-lg-6.mb-4
          a.rectangle-290-123.d-flex.flex-column.justify-content-center.align-items-between.p-4
            .row
              .col-8.d-flex.flex-column.justify-content-center
                .title-500-32.z-100 Cтать волонтером
              .col-4
                img.img-contain(src="/img/help/help_3.svg")


        .col-12.col-lg-6.mb-4
          a.rectangle-290-123.d-flex.flex-column.justify-content-center.align-items-between.p-4
            .row
              .col-8.d-flex.flex-column.justify-content-center
                .title-500-32.z-100 Стать информационным партнером
              .col-4
                img.img-contain(src="/img/help/help_4.svg")


        .col-12.col-lg-6.mb-4
          a.rectangle-290-123.d-flex.flex-column.justify-content-center.align-items-between.p-4
            .row
              .col-8.d-flex.flex-column.justify-content-center
                .title-500-32.z-100 Помочь экспонатами музею
              .col-4
                img.img-contain(src="/img/help/help_5.svg")