extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/help/') Как помочь
        .col-6.back__subtitle-top.text-end 
          +share("/help/corporate/", "Помочь экспонатами музею")

        h1.col-12.header__subtitle.title Помочь экспонатами музею
        .col-12.mt-5.
          Может быть, на вашей антресоли лежит проектор для диафильмов, утюг или, например, граненый стакан, где выбито «ц.15 коп». Мы можем дать новую жизнь предмету, которым пользовались ваши родители, дедушки и бабушки. Мы с радостью примем ваши экспонаты в нашу коллекцию Музея живых бытовых историй(сделать как ссылку на музей). Запечатлим в истории предмета кто, где и когда его использовал.
          <br>
          Если вы хотите передать в дар предмет быта ХХ века, напишите, пожалуйста, сюда <a href="mailto:director@centervnl.ru">director@centervnl.ru</a>. Мы свяжемся с вами в течение 1 дня.
        //- +long-text(text)