extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/help/') Как помочь
        .col-6.back__subtitle-top.text-end 
          +share("/help/info/", "Стать информационным партнером")

        h1.col-12.header__subtitle.title Стать информационным партнером
        .col-12.mt-5.
          Одна из наших целей — это создание позитивного образа человека с инвалидностью. Если Вы вместе с нами готовы рассказывать о жизни людей с ограниченными возможностями, об их победах и трудностях, мы рады, что вы зашли на эту страницу.
          <br>
          Если Вы представитель СМИ или ведете блог, где освещаете социальную проблематику, и готовы стать нашим информационным партнером, напишите, пожалуйста, сюда <a href="mailto:director@centervnl.ru">director@centervnl.ru</a>. Мы свяжемся с вами в течение 1 дня.