extends layout

block content

  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='/help/') Как помочь
        .col-12.header__subtitle.title Сделать пожертвование
    
    .container
      .row.mx-xl-5.col-12.col-lg-8
        .mt-5
          img.background__image(src="/img/help/donate.png")

        .mt-5 
          .title-500-32 Поддержать молодых взрослых с ментальными нарушениями

      .row.mx-xl-5.col-12.col-lg-8
        .mt-5.row
          .col-6.col-md-2.donate-box.active
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10.7246 26.625H9.22521C7.57461 26.625 6.22461 27.975 6.22461 29.6256V31.125C6.22461 32.7756 7.57461 34.1256 9.22521 34.1256H10.7246C12.3752 34.1256 13.7252 32.7756 13.7252 31.125V29.6256C13.7252 27.975 12.3752 26.625 10.7246 26.625ZM12.2258 31.125C12.2258 31.9494 11.5508 32.6244 10.7264 32.6244H9.22696C8.40257 32.6244 7.72756 31.9494 7.72756 31.125V29.6256C7.72756 28.8012 8.40257 28.1262 9.22696 28.1262H10.7264C11.5508 28.1262 12.2258 28.8012 12.2258 29.6256V31.125Z' fill='black')
                path(d='M16.7256 28.2744H33.6006V29.7738H16.7256V28.2744Z' fill='black')
                path(d='M16.7256 31.2744H29.8512V32.7738H16.7256V31.2744Z' fill='black')
                path(d='M39.7492 7.12402H10.4992C8.39858 7.12402 6.74978 8.77462 6.74978 10.8734V12.3728L5.25038 12.3746C3.14978 12.3746 1.50098 14.0252 1.50098 16.124V34.124C1.50098 36.2246 3.15158 37.8734 5.25038 37.8734H34.5004C36.601 37.8734 38.2498 36.2228 38.2498 34.124V32.6246H39.7492C41.8498 32.6246 43.4986 30.974 43.4986 28.8752V10.8752C43.5003 8.77458 41.8497 7.12403 39.7492 7.12403V7.12402ZM5.25038 13.874H34.5004C35.7748 13.874 36.7504 14.8496 36.7504 16.124V18.374H3.00038V16.124C3.00038 14.8496 3.97422 13.874 5.25038 13.874ZM34.5004 36.374H5.25038C3.97598 36.374 3.00038 35.3984 3.00038 34.124V22.874H36.7504V34.124C36.7504 35.4002 35.7748 36.374 34.5004 36.374ZM41.9992 28.8752C41.9992 30.1496 41.0236 31.1252 39.7492 31.1252H38.2498V16.1258C38.2498 14.0252 36.5992 12.3764 34.5004 12.3764L8.24918 12.3747V10.8753C8.24918 9.60087 9.22478 8.62527 10.4992 8.62527H39.7492C41.0236 8.62527 41.9992 9.60087 41.9992 10.8753V28.8752Z' fill='black')
            .donate-text С помощью банковской карты

          .col-6.col-md-2.donate-box
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M18.2246 8.08496H8.7646C8.36988 8.08496 8.04736 8.40746 8.04736 8.8022V18.2622C8.04736 18.6569 8.36986 18.9794 8.7646 18.9794H18.2246C18.6193 18.9794 18.9418 18.6569 18.9418 18.2622V8.8022C18.9418 8.40747 18.6193 8.08496 18.2246 8.08496V8.08496ZM17.5074 17.545H9.48012V9.51772H17.5074V17.545Z' fill='black')
                path(d='M11.8969 15.8535H15.1001C15.4948 15.8535 15.8173 15.531 15.8173 15.1362V11.9331C15.8173 11.5383 15.4948 11.2158 15.1001 11.2158H11.8969C11.5022 11.2158 11.1797 11.5383 11.1797 11.9331V15.1362C11.1797 15.5309 11.4955 15.8535 11.8969 15.8535V15.8535ZM12.6125 12.6503H14.3829V14.4207H12.6125V12.6503Z' fill='black')
                path(d='M34.9521 8.80025C34.9521 8.40552 34.6296 8.08301 34.2349 8.08301H24.7749C24.3801 8.08301 24.0576 8.40551 24.0576 8.80025C24.0576 9.19497 24.3801 9.51749 24.7749 9.51749H33.5176V18.2602C33.5176 18.655 33.8401 18.9775 34.2349 18.9775C34.6296 18.9775 34.9521 18.655 34.9521 18.2602V8.80025Z' fill='black')
                path(d='M31.8198 15.1362V11.9331C31.8198 11.5383 31.4973 11.2158 31.1025 11.2158H27.8994C27.5046 11.2158 27.1821 11.5383 27.1821 11.9331V15.1362C27.1821 15.5309 27.5046 15.8535 27.8994 15.8535H31.1025C31.504 15.8535 31.8198 15.531 31.8198 15.1362ZM30.387 14.4207H28.6166V12.6503H30.387V14.4207Z' fill='black')
                path(d='M8.7646 31.2041C8.36988 31.2041 8.04736 31.5266 8.04736 31.9213V34.2007C8.04736 34.5954 8.36986 34.9179 8.7646 34.9179H18.2246C18.6193 34.9179 18.9418 34.5954 18.9418 34.2007V24.7407C18.9418 24.346 18.6193 24.0234 18.2246 24.0234H8.7646C8.36988 24.0234 8.04736 24.3459 8.04736 24.7407V29.4707C8.04736 29.8654 8.36986 30.1879 8.7646 30.1879C9.15933 30.1879 9.48184 29.8654 9.48184 29.4707V25.4579H17.5091V33.4852H9.48184V31.9231C9.48184 31.5199 9.15934 31.2041 8.7646 31.2041V31.2041Z' fill='black')
                path(d='M15.0934 31.7851C15.4881 31.7851 15.8106 31.4626 15.8106 31.0679V27.8647C15.8106 27.47 15.4881 27.1475 15.0934 27.1475H11.8969C11.5022 27.1475 11.1797 27.47 11.1797 27.8647V31.0679C11.1797 31.4626 11.5022 31.7851 11.8969 31.7851H15.0934ZM12.6125 28.5886H14.3829V30.359H12.6125V28.5886Z' fill='black')
                path(d='M34.2349 24.0234H24.7749C24.3801 24.0234 24.0576 24.3459 24.0576 24.7407V34.2007C24.0576 34.5954 24.3801 34.9179 24.7749 34.9179H34.2349C34.6296 34.9179 34.9521 34.5954 34.9521 34.2007V24.7407C34.9521 24.346 34.6296 24.0234 34.2349 24.0234ZM33.5176 33.4834H25.4904V25.4562H33.5176V33.4834Z' fill='black')
                path(d='M27.9057 31.7851H31.1089C31.5036 31.7851 31.8261 31.4626 31.8261 31.0679V27.8647C31.8261 27.47 31.5036 27.1475 31.1089 27.1475H27.9057C27.511 27.1475 27.1885 27.47 27.1885 27.8647V31.0679C27.1902 31.4693 27.5043 31.7851 27.9057 31.7851ZM28.623 28.5886H30.3934V30.359H28.623V28.5886Z' fill='black')
                path(d='M20.7827 34.2007C20.7827 34.5955 21.1052 34.918 21.5 34.918C21.8947 34.918 22.2172 34.5955 22.2172 34.2007V24.3881C22.2172 23.9934 21.8947 23.6709 21.5 23.6709C21.1052 23.6709 20.7827 23.9934 20.7827 24.3881V34.2007Z' fill='black')
                path(d='M21.5 8.085C21.1052 8.085 20.7827 8.4075 20.7827 8.80224V17.6525C20.7827 18.0472 21.1052 18.3697 21.5 18.3697C21.8947 18.3697 22.2172 18.0472 22.2172 17.6525V8.80052C22.2172 8.40748 21.8947 8.08496 21.5 8.08496V8.085Z' fill='black')
                path(d='M8.7646 22.2177H16.6052C17 22.2177 17.3225 21.8952 17.3225 21.5004C17.3225 21.1057 17 20.7832 16.6052 20.7832H8.7646C8.36988 20.7832 8.04736 21.1057 8.04736 21.5004C8.04736 21.8952 8.36986 22.2177 8.7646 22.2177V22.2177Z' fill='black')
                path(d='M20.7827 21.5004C20.7827 21.8952 21.1052 22.2177 21.5 22.2177H27.3402C27.7349 22.2177 28.0575 21.8952 28.0575 21.5004C28.0575 21.1057 27.735 20.7832 27.3402 20.7832H21.5C21.1052 20.7832 20.7827 21.1057 20.7827 21.5004Z' fill='black')
                path(d='M34.235 20.7832H30.7597C30.365 20.7832 30.0425 21.1057 30.0425 21.5004C30.0425 21.8952 30.365 22.2177 30.7597 22.2177H34.235C34.6297 22.2177 34.9522 21.8952 34.9522 21.5004C34.9522 21.1057 34.6297 20.7832 34.235 20.7832V20.7832Z' fill='black')
                path(d='M4.29976 10.6144C4.69449 10.6144 5.017 10.2919 5.017 9.89713V5.01749H9.89836C10.2931 5.01749 10.6156 4.69499 10.6156 4.30025C10.6156 3.90551 10.2931 3.58301 9.89836 3.58301H4.29976C3.90503 3.58301 3.58252 3.90551 3.58252 4.30025V9.89713C3.58252 10.2919 3.90502 10.6144 4.29976 10.6144Z' fill='black')
                path(d='M38.6996 32.3857C38.3049 32.3857 37.9824 32.7082 37.9824 33.103V37.9826H33.101C32.7063 37.9826 32.3838 38.3051 32.3838 38.6999C32.3838 39.0946 32.7063 39.4171 33.101 39.4171H38.6996C39.0944 39.4171 39.4169 39.0946 39.4169 38.6999V33.103C39.4169 32.7083 39.0944 32.3857 38.6996 32.3857V32.3857Z' fill='black')
                path(d='M4.29976 39.4178H9.89664C10.2914 39.4178 10.6139 39.0953 10.6139 38.7006C10.6139 38.3059 10.2914 37.9834 9.89664 37.9834H5.017V33.102C5.017 32.7073 4.6945 32.3848 4.29976 32.3848C3.90502 32.3848 3.58252 32.7073 3.58252 33.102V38.7006C3.58252 39.0953 3.90502 39.4178 4.29976 39.4178V39.4178Z' fill='black')
                path(d='M38.6999 3.58301H33.103C32.7083 3.58301 32.3857 3.90551 32.3857 4.30025C32.3857 4.69499 32.7082 5.01749 33.103 5.01749H37.9826V9.89885C37.9826 10.2936 38.3051 10.6161 38.6999 10.6161C39.0946 10.6161 39.4171 10.2936 39.4171 9.89885V4.30025C39.4171 3.90552 39.0946 3.58301 38.6999 3.58301Z' fill='black')
            .donate-text Система быстрых платежей

          .col-6.col-md-2.donate-box
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.9746 3.5752H10.4814C9.99391 3.5752 9.66943 3.89969 9.66943 4.38718C9.66943 4.87466 9.99393 5.19916 10.4814 5.19916H13.9746C14.4621 5.19916 14.7866 4.87466 14.7866 4.38718C14.7881 3.89968 14.3814 3.5752 13.9746 3.5752Z' fill='black')
                path(d='M12.1874 36.8866C13.6499 36.8866 14.788 35.7486 14.788 34.2861C14.788 32.8236 13.6499 31.6855 12.1874 31.6855C10.7249 31.6855 9.58691 32.8236 9.58691 34.2861C9.58691 35.7501 10.8057 36.8866 12.1874 36.8866ZM12.1874 33.3126C12.7557 33.3126 13.1624 33.7194 13.1624 34.2876C13.1624 34.8558 12.7557 35.2626 12.1874 35.2626C11.6192 35.2626 11.2124 34.8558 11.2124 34.2876C11.2124 33.8001 11.6999 33.3126 12.1874 33.3126Z' fill='black')
                path(d='M36.887 11.1317H24.375V3.00724C24.375 1.38172 23.0755 0.0822415 21.45 0.0822415L2.925 0.0807177C1.29948 -2.39766e-05 0 1.29947 0 2.92499V35.9943C0 37.6198 1.29948 38.9193 2.925 38.9193H21.45C23.0755 38.9193 24.375 37.6198 24.375 35.9943V26.5687H29.9813L33.7182 30.7932C33.8812 30.9562 34.2057 31.2 34.6125 31.037C34.937 30.874 35.1 30.6302 35.1807 30.3057L35.4245 26.6495H36.9677C38.1057 26.6495 39.0807 25.6745 39.0807 24.5364V13.2432C39 12.0245 38.025 11.1317 36.887 11.1317V11.1317ZM1.62552 2.92495C1.62552 2.1937 2.19375 1.62547 2.925 1.62547H21.45C22.1813 1.62547 22.7495 2.1937 22.7495 2.92495V6.90568H1.62552V2.92495ZM22.7495 36.075C22.7495 36.8062 22.1813 37.3744 21.45 37.3744H2.925C2.19375 37.3744 1.62552 36.8062 1.62552 36.075V31.2807H22.751L22.7495 36.075ZM22.7495 29.6567H1.62552V8.5312H22.751V11.1317H19.0141C17.876 11.1317 16.901 12.1067 16.901 13.2447V24.538C16.901 25.676 17.876 26.651 19.0141 26.651L22.7495 26.6495L22.7495 29.6567ZM37.3745 24.4557C37.3745 24.6994 37.1307 24.9432 36.887 24.9432H34.6125C34.2057 24.9432 33.8005 25.2677 33.8005 25.6744L33.6375 28.1927L30.9563 25.1869C30.7933 25.0239 30.5495 24.9432 30.388 24.9432H19.0125C18.7688 24.9432 18.525 24.6994 18.525 24.4557V13.2432C18.525 12.9994 18.7688 12.7557 19.0125 12.7557H36.887C37.1307 12.7557 37.3745 12.9994 37.3745 13.2432L37.3745 24.4557Z' fill='black')
                path(d='M23.7244 18.0371H20.9624C20.4749 18.0371 20.1504 18.3616 20.1504 18.8491C20.1504 19.3366 20.4749 19.6611 20.9624 19.6611H23.7244C24.2119 19.6611 24.5363 19.3366 24.5363 18.8491C24.5379 18.3616 24.2118 18.0371 23.7244 18.0371Z' fill='black')
                path(d='M29.3308 18.0371H26.5688C26.0813 18.0371 25.7568 18.3616 25.7568 18.8491C25.7568 19.3366 26.0813 19.6611 26.5688 19.6611H29.3308C29.8183 19.6611 30.1428 19.3366 30.1428 18.8491C30.1443 18.3616 29.8183 18.0371 29.3308 18.0371Z' fill='black')
                path(d='M34.9368 18.0371H32.1748C31.6873 18.0371 31.3628 18.3616 31.3628 18.8491C31.3628 19.3366 31.6873 19.6611 32.1748 19.6611L34.9368 19.6626C35.4243 19.6626 35.7487 19.3381 35.7487 18.8506C35.7503 18.3616 35.4242 18.0371 34.9368 18.0371V18.0371Z' fill='black')
            .donate-text СМС на номер 3443


          .col-6.col-md-2.donate-box
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='31' height='37' viewBox='0 0 31 37' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M14.9364 36.7485C15.0824 36.909 15.2891 37 15.5045 37C15.7213 37 15.9279 36.909 16.0739 36.7485L19.1669 33.3679L22.2585 36.7485C22.4059 36.909 22.6126 37 22.8279 37C23.0433 37 23.2499 36.909 23.3974 36.7485L26.4889 33.3679L29.5819 36.7485C29.7958 36.9856 30.134 37.0636 30.4303 36.948C30.7266 36.8324 30.9217 36.5476 30.9217 36.2297V0.77034C30.9217 0.345432 30.5763 0 30.1514 0H0.859207C0.434299 0 0.0888672 0.345428 0.0888672 0.77034V36.2297C0.0888672 36.5476 0.283983 36.8324 0.580264 36.948C0.876545 37.0636 1.2133 36.9856 1.42867 36.7485L4.52021 33.3679L7.61319 36.7485C7.75916 36.909 7.96584 37 8.18265 37C8.39801 37 8.60468 36.909 8.75068 36.7485L11.8437 33.3679L14.9364 36.7485ZM15.5045 35.0879L12.4129 31.7058C12.2655 31.5454 12.0588 31.4544 11.8435 31.4544C11.6281 31.4544 11.4214 31.5454 11.274 31.7058L8.18247 35.0879L5.08949 31.7058C4.94352 31.5454 4.73684 31.4544 4.52002 31.4544C4.30467 31.4544 4.098 31.5454 3.952 31.7058L1.6294 34.2438V1.5421H29.3794V34.2438L27.0582 31.7058C26.9123 31.5454 26.7056 31.4544 26.4888 31.4544C26.2734 31.4544 26.0668 31.5454 25.9208 31.7058L22.8278 35.0879L19.7348 31.7058C19.5888 31.5454 19.3821 31.4544 19.1668 31.4544C18.95 31.4544 18.7433 31.5454 18.5973 31.7058L15.5045 35.0879ZM13.9638 27.75H21.6716C22.0965 27.75 22.4419 27.4046 22.4419 26.9797C22.4419 26.5548 22.0965 26.2093 21.6716 26.2093H13.9638C13.5374 26.2093 13.192 26.5548 13.192 26.9797C13.192 27.4046 13.5374 27.75 13.9638 27.75V27.75ZM22.4419 22.3547H24.7544C25.1808 22.3547 25.5262 22.0092 25.5262 21.5843C25.5262 21.158 25.1808 20.8126 24.7544 20.8126H22.4419C22.017 20.8126 21.6716 21.158 21.6716 21.5843C21.6716 22.0092 22.017 22.3547 22.4419 22.3547ZM6.25444 22.3547H18.5888C19.0137 22.3547 19.3591 22.0092 19.3591 21.5843C19.3591 21.158 19.0137 20.8126 18.5888 20.8126H6.25444C5.82953 20.8126 5.4841 21.158 5.4841 21.5843C5.4841 22.0092 5.82952 22.3547 6.25444 22.3547ZM22.4419 14.6542H24.7544C25.1808 14.6542 25.5262 14.3088 25.5262 13.8839C25.5262 13.459 25.1808 13.1121 24.7544 13.1121H22.4419C22.017 13.1121 21.6716 13.459 21.6716 13.8839C21.6716 14.3088 22.017 14.6542 22.4419 14.6542ZM6.25444 14.647H18.5888C19.0137 14.647 19.3591 14.3016 19.3591 13.8752C19.3591 13.4503 19.0137 13.1049 18.5888 13.1049H6.25444C5.82953 13.1049 5.4841 13.4503 5.4841 13.8752C5.4841 14.3016 5.82952 14.647 6.25444 14.647ZM9.51939 7.70951H21.4896C21.916 7.70951 22.26 7.36408 22.26 6.93773C22.26 6.51282 21.916 6.16738 21.4896 6.16738H9.51939C9.09448 6.16738 8.74905 6.51281 8.74905 6.93773C8.74905 7.36408 9.09448 7.70951 9.51939 7.70951Z' fill='black')
            .donate-text Банковская квитанция

          .col-6.col-md-2.donate-box
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.359375 21.9622V32.2155C0.359375 32.5935 0.665272 32.8994 1.04325 32.8994H31.9581C32.3361 32.8994 32.642 32.5935 32.642 32.2155L32.6404 21.9622C32.6404 21.5842 32.3345 21.2783 31.9565 21.2783L1.04329 21.2799C0.665323 21.2799 0.359413 21.5858 0.359413 21.9622L0.359375 21.9622ZM1.7255 22.6461H31.2742V31.5332H1.7255V22.6461Z' fill='black')
                path(d='M25.8929 23.374C23.8429 23.374 22.1772 25.0412 22.1772 27.0912C22.1772 29.1412 23.8445 30.8085 25.8929 30.8085C27.9429 30.8085 29.6101 29.1412 29.6101 27.0912C29.6101 25.0412 27.9429 23.374 25.8929 23.374ZM25.8929 29.4408C24.5972 29.4408 23.5434 28.387 23.5434 27.0913C23.5434 25.7956 24.5972 24.7418 25.8929 24.7418C27.1886 24.7418 28.2424 25.7956 28.2424 27.0913C28.244 28.3853 27.1886 29.4408 25.8929 29.4408Z' fill='black')
                path(d='M16.5317 24.5557H4.07304C3.69507 24.5557 3.38916 24.8616 3.38916 25.2395C3.38916 25.6175 3.69506 25.9234 4.07304 25.9234H16.5317C16.9097 25.9234 17.2156 25.6175 17.2156 25.2395C17.214 24.8616 16.9097 24.5557 16.5317 24.5557Z' fill='black')
                path(d='M16.5317 28.2588H4.07304C3.69507 28.2588 3.38916 28.5647 3.38916 28.9427C3.38916 29.3207 3.69506 29.6265 4.07304 29.6265H16.5317C16.9097 29.6265 17.2156 29.3207 17.2156 28.9427C17.214 28.5647 16.9097 28.2588 16.5317 28.2588Z' fill='black')
                path(d='M25.6305 26.4562C25.5904 26.477 25.5488 26.4979 25.5136 26.5171C25.4799 26.5443 25.4383 26.5715 25.4111 26.6068C25.3486 26.6676 25.2941 26.7429 25.2605 26.8246C25.2269 26.9063 25.2061 26.9959 25.2061 27.0904C25.2061 27.2682 25.2813 27.446 25.4111 27.5693C25.4383 27.603 25.4799 27.6318 25.5136 27.6574C25.5472 27.6782 25.5888 27.699 25.6305 27.7199C25.7121 27.7535 25.8082 27.7743 25.8899 27.7743C26.0741 27.7743 26.2519 27.699 26.3752 27.5693C26.5049 27.446 26.5738 27.2682 26.5738 27.0904C26.5738 26.9063 26.5049 26.7285 26.3752 26.6052C26.191 26.4162 25.8835 26.3537 25.6305 26.4562L25.6305 26.4562Z' fill='black')
                path(d='M32.6403 0.78349C32.6403 0.405519 32.3344 0.0996094 31.9564 0.0996094H1.04325C0.665284 0.0996094 0.359375 0.405506 0.359375 0.78349V11.0368C0.359375 11.4147 0.665272 11.7207 1.04325 11.7207H31.9581C32.3361 11.7207 32.642 11.4148 32.642 11.0368L32.6403 0.78349ZM31.2742 10.3529H1.7255V1.46573H31.2742V10.3529Z' fill='black')
                path(d='M25.8929 9.62683C27.9429 9.62683 29.6101 7.95961 29.6101 5.90961C29.6101 3.85961 27.9429 2.19238 25.8929 2.19238C23.8429 2.19238 22.1772 3.85961 22.1772 5.90961C22.1772 7.95801 23.8445 9.62683 25.8929 9.62683ZM25.8929 3.55842C27.1886 3.55842 28.2424 4.61224 28.2424 5.90793C28.2424 7.20361 27.1886 8.25743 25.8929 8.25743C24.5972 8.25743 23.5434 7.20361 23.5434 5.90793C23.5434 4.61388 24.5972 3.55842 25.8929 3.55842Z' fill='black')
                path(d='M4.07304 4.74081H16.5317C16.9097 4.74081 17.2156 4.43491 17.2156 4.05693C17.2156 3.67894 16.9097 3.37305 16.5317 3.37305L4.07304 3.37465C3.69507 3.37465 3.38916 3.68055 3.38916 4.05853C3.38916 4.4349 3.69506 4.74081 4.07304 4.74081V4.74081Z' fill='black')
                path(d='M4.07304 8.44491H16.5317C16.9097 8.44491 17.2156 8.13901 17.2156 7.76103C17.2156 7.38305 16.9097 7.07715 16.5317 7.07715H4.07304C3.69507 7.07715 3.38916 7.38305 3.38916 7.76103C3.38916 8.13901 3.69506 8.44491 4.07304 8.44491V8.44491Z' fill='black')
                path(d='M25.5131 6.476C25.5467 6.50322 25.5883 6.52404 25.63 6.53845C25.7117 6.57209 25.8078 6.59291 25.8894 6.59291C26.0736 6.59291 26.2514 6.51763 26.3747 6.39431C26.5044 6.26458 26.5733 6.08681 26.5733 5.90904C26.5733 5.73126 26.5044 5.55349 26.3747 5.42376C26.1905 5.23958 25.883 5.17712 25.63 5.27962C25.5899 5.29403 25.5483 5.31325 25.5131 5.34208C25.4794 5.36931 25.4378 5.39653 25.4106 5.42376C25.3481 5.48462 25.2937 5.55989 25.26 5.64958C25.2264 5.73126 25.2056 5.82095 25.2056 5.90903C25.2056 6.09321 25.2808 6.26458 25.4106 6.39431C25.4378 6.42153 25.4794 6.45677 25.5131 6.47599L25.5131 6.476Z' fill='black')
                path(d='M11.0081 13.1475C10.6301 13.1475 10.3242 13.4534 10.3242 13.8313V17.3291L9.26556 16.1007C9.01732 15.8141 8.58652 15.782 8.30141 16.0287C8.01473 16.2753 7.9827 16.7061 8.22934 16.9928L10.4891 19.6146C10.4939 19.621 10.5036 19.6226 10.5084 19.629C10.5548 19.6786 10.6109 19.7155 10.6685 19.7491C10.6909 19.7619 10.7069 19.7811 10.731 19.7907C10.8158 19.8276 10.9087 19.8516 11.0064 19.8516C11.1057 19.8516 11.197 19.8292 11.2819 19.7907C11.3043 19.7811 11.3219 19.7619 11.3444 19.7491C11.4036 19.7155 11.4597 19.6786 11.5045 19.629C11.5093 19.6226 11.5189 19.621 11.5237 19.6146L13.7835 16.9928C14.0302 16.7061 13.9981 16.2753 13.7115 16.0287C13.4264 15.782 12.9956 15.8141 12.7473 16.1007L11.6887 17.3291V13.8313C11.6903 13.4534 11.3844 13.1475 11.008 13.1475H11.0081Z' fill='black')
                path(d='M21.9931 19.8516C22.3711 19.8516 22.677 19.5457 22.677 19.1677V15.6699L23.7356 16.8983C23.9822 17.185 24.4146 17.2154 24.6998 16.9704C24.9864 16.7238 25.0185 16.293 24.7718 16.0062L22.512 13.3845C22.5072 13.3781 22.4976 13.3765 22.4928 13.3701C22.4464 13.3204 22.3903 13.2836 22.3326 13.25C22.3102 13.2371 22.2942 13.2179 22.2702 13.2083C22.1853 13.1715 22.0924 13.1475 21.9947 13.1475C21.8954 13.1475 21.8041 13.1699 21.7192 13.2083C21.6968 13.2179 21.6792 13.2371 21.6568 13.25C21.5975 13.2836 21.5415 13.3204 21.4966 13.3701C21.4918 13.3765 21.4822 13.3781 21.4774 13.3845L19.2176 16.0062C18.971 16.2929 19.003 16.7237 19.2897 16.9704C19.4194 17.0825 19.578 17.137 19.7365 17.137C19.9287 17.137 20.1193 17.0569 20.2538 16.8999L21.3124 15.6715V19.1693C21.3092 19.5457 21.6151 19.8516 21.9931 19.8516H21.9931Z' fill='black')
            .donate-text Реквизиты

          .col-6.col-md-2.donate-box
            .donate-circle.d-flex.justify-content-center.align-items-center
              svg(width='25' height='43' viewBox='0 0 25 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M2.55947 0.574972H22.4423C23.1208 0.574972 23.7395 0.854462 24.1895 1.30271C24.6378 1.7492 24.9173 2.36795 24.9173 3.04997V39.95C24.9173 40.6302 24.6395 41.2472 24.1913 41.6955C23.7413 42.1455 23.1225 42.425 22.4423 42.425H2.55947C1.87921 42.425 1.26221 42.1472 0.813967 41.699C0.363967 41.249 0.0844727 40.6302 0.0844727 39.95V3.04997C0.0844727 2.36795 0.363963 1.7492 0.810458 1.30096L0.852645 1.26053C1.29737 0.835138 1.90029 0.573242 2.55774 0.573242L2.55947 0.574972ZM8.88422 20.6211V25.6994H10.5295V20.6211H8.88422ZM7.53422 25.6994V20.6211H6.42682C6.05416 20.6211 5.75182 20.3188 5.75182 19.9461C5.75182 19.5735 6.05416 19.2711 6.42682 19.2711H18.575C18.9477 19.2711 19.25 19.5735 19.25 19.9461C19.25 20.3188 18.9477 20.6211 18.575 20.6211H17.8684V25.6994H18.575C18.9477 25.6994 19.25 26.0017 19.25 26.3744C19.25 26.747 18.9477 27.0494 18.575 27.0494H6.42682C6.05416 27.0494 5.75182 26.747 5.75182 26.3744C5.75182 26.0017 6.05416 25.6994 6.42682 25.6994H7.53422ZM14.8746 20.6211V25.6994H16.5199V20.6211H14.8746ZM13.5246 25.6994V20.6211H11.8793V25.6994H13.5246ZM5.30177 28.8283C4.92912 28.8283 4.62677 28.5259 4.62677 28.1533C4.62677 27.7806 4.92912 27.4783 5.30177 27.4783H19.7018C20.0744 27.4783 20.3768 27.7806 20.3768 28.1533C20.3768 28.5259 20.0744 28.8283 19.7018 28.8283H5.30177ZM12.783 14.233L19.983 17.5552C20.3205 17.7117 20.4682 18.1125 20.3117 18.45C20.1975 18.6961 19.9549 18.842 19.7 18.842L5.3 18.8437C4.92735 18.8437 4.625 18.5414 4.625 18.1687C4.625 17.8822 4.8043 17.6361 5.05743 17.5394L12.2187 14.2347C12.4051 14.1486 12.6107 14.1556 12.783 14.2347L12.783 14.233ZM16.6309 17.492L12.5018 15.5865L8.37266 17.492H16.6324H16.6309ZM12.5018 2.48356C12.9992 2.48356 13.4018 2.88609 13.4018 3.38356C13.4018 3.88103 12.9992 4.28356 12.5018 4.28356C12.0043 4.28356 11.6018 3.88102 11.6018 3.38356C11.6018 2.88608 12.0043 2.48356 12.5018 2.48356ZM11.0199 40.2237C10.6473 40.2237 10.3449 39.9214 10.3449 39.5487C10.3449 39.1761 10.6473 38.8737 11.0199 38.8737H13.9853C14.358 38.8737 14.6603 39.1761 14.6603 39.5487C14.6603 39.9214 14.358 40.2237 13.9853 40.2237H11.0199ZM3.69167 2.60281H7.94732C8.44304 2.60281 8.90884 2.71882 9.32194 2.93679L9.36413 2.9614C9.75612 3.17937 10.0989 3.49227 10.3679 3.88953C10.6016 4.23406 10.9216 4.52232 11.2995 4.72275L11.3311 4.74032C11.6809 4.91962 12.0817 5.02157 12.5054 5.02157C12.9431 5.02157 13.3544 4.91435 13.7112 4.7245C14.0874 4.52411 14.4073 4.23585 14.6411 3.89128C14.9188 3.47996 15.2757 3.15828 15.687 2.9403C16.1001 2.72057 16.5641 2.60456 17.0599 2.60456H21.3155C21.7497 2.60456 22.1434 2.7821 22.4282 3.06684C22.713 3.35161 22.8905 3.74535 22.8905 4.17956V36.4495C22.8905 36.8837 22.713 37.2774 22.4282 37.5622C22.1435 37.847 21.7497 38.0245 21.3155 38.0245H3.6935C3.25932 38.0245 2.86559 37.847 2.58079 37.5622C2.29602 37.2775 2.1185 36.8837 2.1185 36.4495V4.17956C2.1185 3.74538 2.29604 3.35165 2.58079 3.06684C2.86555 2.78208 3.2593 2.60456 3.6935 2.60456L3.69167 2.60281ZM7.94732 3.95281H3.69167C3.63015 3.95281 3.5739 3.97917 3.53347 4.0196C3.49304 4.06003 3.46667 4.11628 3.46667 4.17781V36.4478C3.46667 36.5093 3.49304 36.5655 3.53347 36.606C3.5739 36.6464 3.63015 36.6728 3.69167 36.6728H21.3137C21.3752 36.6728 21.4314 36.6464 21.4719 36.606C21.5123 36.5655 21.5387 36.5093 21.5387 36.4478V4.17781C21.5387 4.11628 21.5123 4.06003 21.4719 4.0196C21.4314 3.97918 21.3752 3.95281 21.3137 3.95281H17.058C16.7856 3.95281 16.5342 4.01257 16.3162 4.12859C16.0948 4.2446 15.9032 4.41687 15.752 4.64186C15.3916 5.17448 14.9065 5.61215 14.3405 5.91275C13.7885 6.20279 13.1627 6.36977 12.5018 6.36977C11.8567 6.36977 11.2432 6.21157 10.7036 5.93207L10.6631 5.91274C10.0971 5.61215 9.61199 5.17447 9.25163 4.64185C9.10573 4.4274 8.92468 4.25865 8.71725 4.14437L8.68561 4.12855C8.4694 4.01254 8.21802 3.95277 7.94383 3.95277L7.94732 3.95281ZM22.4441 1.9243H2.56127C2.26596 1.9243 1.99526 2.04031 1.79488 2.22664L1.76675 2.25653C1.56284 2.46043 1.43628 2.74167 1.43628 3.05105V39.951C1.43628 40.2604 1.56284 40.5434 1.76499 40.7456C1.9689 40.9495 2.25014 41.0743 2.55951 41.0743H22.4423C22.7517 41.0743 23.0347 40.9477 23.2368 40.7456C23.4407 40.5417 23.5655 40.2604 23.5655 39.951V3.05105C23.5655 2.74167 23.4372 2.46042 23.2351 2.25653C23.0329 2.05263 22.7517 1.92605 22.4423 1.92605L22.4441 1.9243Z' fill='black')
            .donate-text Личный кабинет вашего банка
        

        
        .col-12.mt-5.d-block.donate-content 
          p Раздел находится в разработке, скоро всё заработает
          form#form
            .row
              input.d-none(name='ip' value=ip)
              .col-6
                input#regularity1.btn-check(type='radio' name='regularity' value="false" autocomplete='off' checked=true required)
                label.btn.donate-form-button(for='regularity1') Разовое
              .col-6
                input#regularity2.btn-check(type='radio' name='regularity' value="true" autocomplete='off' required)
                label.btn.donate-form-button(for='regularity2') Ежемесячное

            .d-block 
              .d-inline-block.me-2.mt-3
                input#sum1.btn-check.sumCheckButton(type='radio' name='sum' autocomplete='off' checked=true value='100')
                label.btn.donate-form-button.donate-form-btn-small(for='sum1') 100 руб
              .d-inline-block.me-2.mt-3
                input#sum2.btn-check.sumCheckButton(type='radio' name='sum' autocomplete='off' value='200')
                label.btn.donate-form-button.donate-form-btn-small(for='sum2') 200 руб
              .d-inline-block.me-2.mt-3
                input#sum3.btn-check.sumCheckButton(type='radio' name='sum' autocomplete='off' value='500')
                label.btn.donate-form-button.donate-form-btn-small(for='sum3') 500 руб
              .d-inline-block.me-2.mt-3
                input#sum4.btn-check.sumCheckButton(type='radio' name='sum' autocomplete='off' value='750')
                label.btn.donate-form-button.donate-form-btn-small(for='sum4') 750 руб
              .d-inline-block.me-2.mt-3
                input#sum5.btn-check.sumCheckButton(type='radio' name='sum' autocomplete='off' value='1000')
                label.btn.donate-form-button.donate-form-btn-small(for='sum5') 1000 руб
              .d-inline-block.me-2.mt-3
                input.d-inline-block#sumText(type='number' name='sum' autocomplete='off' min="1" placeholder="Сумма")
                .d-inline-block
                  .d-flex.align-items-center.ms-2 руб

              .row.mt-3
                .col-12.col-md-6.mt-3
                  .text-400-16 Имя
                  input.text-input.mt-2(type='text' name='name' autocomplete='given-name' placeholder="Например, Иван" required)

                .col-12.col-md-6.mt-3
                  .text-400-16 Фамилия
                  input.text-input.mt-2(type='text' name='lastname' autocomplete='family-name' placeholder="Например, Федоров" required)

                .col-12.col-md-6.mt-3
                  .text-400-16 Email
                  input.text-input.mt-2(type='email' name='email' autocomplete='email' placeholder="Например, example@mail.ru" required)

                .col-12.col-md-6.mt-3
                  .text-400-16 Телефон
                  input.text-input.mt-2(type='tel' name='tel' autocomplete='tel' placeholder="Например, +7 916 953 83 38" required)

                
                .col-12.mt-5
                  .text-400-16 Номер банковской карты
                  input.text-input.mt-2#numCard(type='text' placeholder="Например, 1111  2222  3333  4444" required data-cp="cardNumber" autocomplete="off" value="4242 4242 4242 4242")

                .col-6.mt-3
                  .text-400-16 Владелец карты
                  input.text-input.mt-2#nameOwner(type='text' placeholder="Например, Ivan Fedorov" required data-cp="name" autocomplete="off" )

                .col-6.mt-3
                  .d-flex.flex-row
                    .me-1
                      .text-400-16 Дата
                      input.num-input.mt-2#dateCard(type='text' placeholder="MM / ГГ" required data-cp="expDateMonthYear" autocomplete="off" value="12 / 34") 


                    .ms-2
                      .text-400-16 CVV
                      input.num-input.mt-2.card__field#cvvCard(type='text' placeholder="CVV" required maxlength="3" data-cp="cvv" autocomplete="off" value="111")

              .mt-5 
                .form-check.col-12.mt-2
                  input#defaultCheck1.form-check-input(type='checkbox' value='' required checked)
                  label.form-check-label(for='defaultCheck1')
                    span.text-400-16 Я принимаю условия договора-оферты

                .form-check.col-12.mt-2
                  input#defaultCheck2.form-check-input(type='checkbox' value='' required checked)
                  label.form-check-label(for='defaultCheck2')
                    span.text-400-16 Я соглашаюсь 
                      a(href='/policy' target="_blank") на обработку своих персональных данных

              .mt-5
                button.button.button_blue.submit(type="button") Помочь

              .mt-4.error-text.text-400-16#error-text= error

              .mt-5.col-12.col-md-8
                .text-400-14.text-400-14-dark Пожертвование осуществляется с помощью банковской карты через защищённую систему приёма платежей CloudPayments
                .d-flew.flex-row.mt-3.align-items-center
                  img.system-logo.me-2(src="/img/help/mastercard.svg")
                  img.system-logo.me-2(src="/img/help/visa.svg")
                  img.system-logo.me-2(src="/img/help/mir.svg")


        .col-12.mt-5.d-none.donate-content 
          p Система быстрых платежей. Раздел находится в разработке, скоро всё заработает
          .orange-hr

        .col-12.mt-5.d-none.donate-content 
          p СМС на номер 3443. Раздел находится в разработке, скоро всё заработает
          .orange-hr

        .col-12.mt-5.d-none.donate-content 
          p Банковская квитанция. Раздел находится в разработке, скоро всё заработает
          .orange-hr

        .col-12.mt-5.d-none.donate-content 
          p Реквизиты. Раздел находится в разработке, скоро всё заработает
          .orange-hr

        .col-12.mt-5.d-none.donate-content 
          .orange-hr
          .title-700-20.title-700-20-dark Регулярное ежемесячное пожертвование
          br
          .text-500-16.text-500-16-dark В Личном кабинете Вашего банка Вы можете подключить автоплатёж для перевода регулярных пожертвований в пользу АНО Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь».
          br
          .text-500-16.text-500-16-dark Вы можете полностью управлять процессом ежемесячного перечисления пожертвований в фонд: изменять сумму и дату пожертвования, а также отменить его в случае необходимости.
          br
          br
          .title-700-20.title-700-20-dark Разовое пожертвование
          br
          .text-500-16.text-500-16-dark В Личном кабинете Вашего банка найдите раздел «Благотворительность», а затем в перечне благотворительных организаций найдите Вера.Надежда.Любовь и введите сумму пожертвования
          br
          .text-500-16.text-500-16-dark Ваше пожертвование будет направлено на поддержку молодых взрослых с ментальными нарушениями. Спасибо!
          br
          img.col-12.col-lg-10(src="/img/help/card.png")

block scripts
  script(src="https://checkout.cloudpayments.ru/checkout.js")
  script(src='/javascripts/mask-plugin.js')
  script(src='/javascripts/card-masks.js')
  script(src='/javascripts/valid-form.js')
  script(src='/javascripts/donate.js')