extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/help/') Как помочь
        .col-6.back__subtitle-top.text-end 
          +share("/help/corporate/", "Стать корпоративным партнером")

        h1.col-12.header__subtitle.title Стать корпоративным партнером
        .col-12.mt-5.
          В наших мастерских «Обычное дело» работают люди, имеющие инвалидность. Мы ищем корпоративных партнеров, которые готовы сотрудничать с нами по вопросам альтернативного квотирования рабочих мест для людей с инвалидностью в рамках 366 ПП РФ от 14.03.22.
          <br>
          Мастерские выполняют корпоративные заказы по изготовлению сувенирной продукции, с учетом индивидуальных пожеланий заказчика.
          <br>
          Если Вы хотите стать корпоративным партнером и помочь мастерским «Обычное дело», напишите, пожалуйста, сюда <a href="mailto:director@centervnl.ru">director@centervnl.ru</a>. Мы свяжемся с вами в течение 1 дня.