extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        h1.col.about__title.title База знаний

      .row.mx-xl-5.about__wrapper
        each post in posts
          +post(post, 'library/')

      +pagination(currentPage, pages, 'https://centervnl.ru/library/?page=')