extends layout

block content
  style(type='text/css').
    .offer ol {
    list-style: none;
    counter-reset: li;
    }
    a {
      color: #FFA556;
    }
    .offer li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    }

  section.about__wrapper
    .container.offer
      .row.mx-xl-5.mt-5
        h1 ПУБЛИЧНАЯ ОФЕРТА 
        h4 о заключении договора пожертвования

        p Автономная некоммерческая организация "Ресурсный центр помощи людям с ментальными нарушениями "Вера. Надежда. Любовь", зарегистрированная на территории Российской Федерации, основной государственный регистрационный номер (ОГРН) 1177700019067 от 27.10.2017 г. (далее - «Орагнизация»), в лице директора Романовой Елизаветы Александровны, действующей на основании устава Организации, публикует настоящую оферту о заключении договора пожертвования (далее по тексту – «Оферта»).

        ol
          li Оферта
            ol
              li Оферта является по смыслу пункта 2 статьи 437 Гражданского Кодекса Российской Федерации предложением Центра заключить с любым, кто отзовется на Оферту, договор пожертвования на условиях, предусмотренных Офертой.
              li 
                | Оферта является бессрочной, вступает в силу со дня, следующего за днем размещения ее на официальном сайте Организации в сети Интернет 
                a(href="https://centervnl.ru/") https://centervnl.ru/ 
                | (далее по тексту – «Сайт»), и действует до дня, следующего за днем размещения на Сайте извещения об отзыве Оферты. Организация вправе отозвать Оферту в любое время.
          br
          li Акцепт оферты
            ol
              li Физическое лицо, полностью дееспособный гражданин Российской Федерации, достигший 18 (Восемнадцатилетнего) возраста или иностранный гражданин, считающийся полностью дееспособным в соответствии с законодательством соответствующего иностранного государства, пожелавшее заключить договор пожертвования на условиях, указанных в Оферте (далее по тексту – «Жертвователь»), совершает акцепт Оферты (далее – «Акцепт оферты»).
              li Факт перечисления Пожертвования свидетельствует о полном и безоговорочном согласии Жертвователя с условиями Оферты.
              li 
                | Акцепт оферты осуществляется Жертвователем посредством передачи Пожертвования. Пожертвование передается Жертвователем Организации в безналичном порядке путем перечисления соответствующих денежных средств, составляющих Пожертвование, на расчетный счет Организации посредством использования следующих ресурсов, доступных на Сайте:
                ol
                  li использование веб-интерфейса на Сайте Организации для перечисления Пожертвования с банковской карты Жертвователя на расчетный счет Организации;
                  li перечисление Пожертвования с банковского счета Жертвователя согласно реквизитам квитанции (платежного поручения), формируемой на Сайте Организации;
                  li перечисление Пожертвования со счета мобильного телефона Жертвователя посредством отправки смс-сообщения с мобильного телефона Жертвователя на номер 3434 со словом «ВНЛ» и через пробел - суммой Пожертвования, указываемой цифрой (например, «ВНЛ 100»).
                  li В результате Акцепта оферты Жертвователь и Организация, совместно именуемые «Стороны», а по отдельности – «Сторона», заключают договор пожертвования (далее по тексту – «Договор») на изложенных ниже условиях.
            br
            li Предмет договора
              ol
                li Жертвователь добровольно и безвозмездно передает в собственность Организации принадлежащие ему денежные средства (именуемое по тексту – «Пожертвование»), а Организация принимает указанные денежные средства и расходует их в соответствии с целями, определенными уставом Организации и Договором, а также действующим законодательством Российской Федерации. Денежные средства, составляющие Пожертвование, не облагаются налогом на добавленную стоимость в соответствии с пп. 12 п. 3 ст. 149 Налогового Кодекса Российской Федерации (далее сокращенно – «РФ»).
                li Для целей Договора Пожертвованием признается сумма денежных средств, фактически перечисленных Жертвователем и зачисленных на отдельный банковский (расчетный) счет Организации, реквизиты которого указаны в разделе 7 Договора. Размер Пожертвования определяется Жертвователем самостоятельно.
                li Жертвователь передает Организации Пожертвование на осуществление уставных целей Организации по безвозмездной всесторонней социальной поддержке детей и молодых людей с ментальными нарушениями, в том числе детей-сирот, детей-инвалидов, детей из неполных и/или малоимущих/малообеспеченных семей, детей и молодых людей, находящихся в трудной жизненной ситуации.
                li Организация обязуется принять и использовать полученное по Договору Пожертвование в отраженных в п. 3.3. Договора целях в течение 3 (трех) лет с даты получения Организацией соответствующего Пожертвования.
                li Денежные средства, полученные Организацией в качестве Пожертвования и не использованные на цели, указанные в п. 3.3. Договора, могут быть использованы Организацией на другие нужды только после согласования с Жертвователем (в соответствии с нижеуказанным порядком). В противном случае, денежные средства, составляющие Пожертвование, должны быть возвращены Жертвователю.
                  ol 
                    li Для получения согласия Жертвователя на изменение целевого назначения Пожертвования, Организация направляет Жертвователю письменный запрос с указанием нового целевого назначения Пожертвования и причин невозможности использовать Пожертвование по прежнему целевому назначению. В течение 10 (Десяти) рабочих дней с даты получения от Организации соответствующего запроса, Жертвователь обязуется разрешить использование Пожертвования по новому целевому назначению либо отказать в удовлетворении запроса. 
              
                li Пожертвование считается полученным Организацией в дату зачисления соответствующих денежных средств на расчетный счет Организации. Жертвователи самостоятельно несут расходы, связанные с перечислением Пожертвования, а также расходы по уплате всех налогов, которые могут возникнуть в связи с перечислением Пожертвования.
                li Сумма Пожертвования по Договору перечисляется одним платежом. При этом, такой платеж может быть:
                  ol 
                    li разовым;
                    li регулярным. При этом, периодичность таких платежей определяется исключительно по усмотрению Жертвователя при организации перечисления Пожертвования, а каждый регулярный платеж, осуществляемый в рамках установленной Жертвователем периодичности, для целей настоящего Договора определяется как отдельное самостоятельное Пожертвование, и настоящий Договор распространяет свое действие на все соответствующие платежи в рамках конкретной установленной Жертвователем продолжительности (или вплоть до принудительной остановки Жертвователем соответствующих регулярных перечислений/списаний).
            br
            li Права и обязанности сторон
              ol 
                li Жертвователь имеет право:
                  ol контролировать порядок использования Организацией Пожертвования посредством направления в Организацию письменного запроса;
                  ol знакомиться с финансовой, бухгалтерской и иной документацией Организации, относящейся к расходованию Пожертвования.

                li Организация имеет право:
                  ol
                    li в случае, если использование Пожертвования в соответствии с целями, указанными в п. 3. Договора, становится невозможным вследствие изменившихся обстоятельств, использовать Пожертвование других целях с письменного согласия Жертвователя.

                li Организация обязана:
                  ol
                    li принять и использовать полученное по Договору Пожертвование в целях, указанных в п. 3.3. Договора;
                    li предоставить Жертвователю письменный отчет об использовании Пожертвования на основании соответствующего письменного запроса Жертвователя;
                    li по предварительному письменному запросу Жертвователя предоставлять ему возможность знакомиться с финансовой, бухгалтерской и иной документацией Организации, свидетельствующей о расходовании Пожертвования.
                    li Организация не несет перед Жертвователем иных обязательств, кроме тех, которые указаны в настоящем Договоре, а также обязательств, действующих в императивном порядке в соответствии с применимым действующим законодательством Российской Федерации.
                    li Стороны несут ответственность за неисполнение и/или ненадлежащее исполнение своих обязательств по Договору в соответствии с законодательством Российской Федерации.

            br
            li Порядок заключения и срок действия договора
              ol 
                li Договор считается заключенным и вступает в силу с момента его акцепта Жертвователем, определяемого моментом осуществления Жертвователем указанных в п. 2.3. Договора действий. Датой акцепта является дата зачисления средств Пожертвования на расчетный счет Организации.
                li Договор является бессрочным.
                li Использование Пожертвования не в соответствии с целями, определенными Договором, или изменение целевого назначения Пожертвования без согласования с Жертвователем, дает право Жертвователю, его наследникам или иному правопреемнику требовать отмены Пожертвования.

            br
            li Конфиденциальность и согласие на обработку персональных данных
              ol
                li Условия Договора, а также информация о факте его заключения не являются конфиденциальной информацией, и могут быть использованы Сторонами для своих целей и по своему усмотрению.
                li Посредством Акцепта оферты Жертвователь подтверждает, что ознакомился со следующими локальными актами Организации, размещенными на Сайте Организации:
                  ol 
                    li Политикой Организации в отношении обработки и защиты персональных данных (далее – «Политика»).
            br
            li Применимое право и разрешение споров
              ol 
                li Договор регулируются законодательством Российской Федерации.
                li Любые споры, которые могут возникнут между Сторонами при исполнении Договора или в связи с ним, подлежат разрешению посредством переговоров (как устных, так и письменных).
                li При недостижении согласия по спорным вопросам в течение 30 (Тридцати) рабочих дней с даты возникновения соответствующего спора, такие споры могут быть переданы на рассмотрение в судебном порядке по месту нахождения Организации.

            br
            li Заключительные положения
              ol 
                li Местом заключения Договора является город Москва.
                li Стороны настоящим пришли к соглашению, что любые заявления, уведомления, извещения, требования, запросы или иные юридически значимые сообщения, а также документы, с которыми действующее законодательство Российской Федерации или Договор связывают наступление гражданско-правовых последствий для Сторон Договора, должны направляться только по электронной почте, указанной в разделе Контакты Сайта.
                li По письменному требованию Жертвователя Организации может оформить бумажный экземпляр договора безвозмездного оказания услуг с подписями Сторон.
                li Письменным требованием Жертвователя о подписании бумажного экземпляра договора пожертвования считается получение Организацией соответствующего запроса, содержащего все необходимые данные о Жертвователе (ФИО, паспортные данные – серия, номер, дата и орган выдачи, адрес регистрации, а также контактный телефон).
                li 
                  | Учитывая вышеизложенное, Стороны признают юридическую силу документов, полученных друг от друга посредством электронной почты, наравне с документами, исполненными в простой письменной форме.
                  br
                  | При этом такие документы, отправленные одной Стороной (отправителем) другой Стороне (адресату) посредством электронной почты, направляются в форме вложения в электронное сообщение в виде отсканированной копии должным образом оформленного и пописанного отправителем документа, и считаются полученной другой Стороной при направлении отправителю подтверждения, позволяющего достоверно определить, что отправленные документы получены адресатом. 

                li Стороны настоящим заявляют и гарантируют, что каждая из Сторон обладает правом заключать Договор, осуществлять все права и обязанности по Договору без нарушений каких-либо прав любых третьих лиц. При этом Жертвователь дополнительно подтверждает, что сведения, отраженные им в соответствующих платежных документах, размещенных на Сайте Фонда, и иные сведения, предоставленных Жертвователем Организации для цели заключения и исполнения Договора, принадлежат (и имеют отношение) только указанному Жертвователю как физическому лицу, являются достоверными и действительными по состоянию на дату заключения Договора.

                li Организация вправе заключать договоры пожертвования в ином порядке и/или на иных условиях, нежели это предусмотрено Договором.
            br
            li Реквизиты организации
              .text-400-14.mt-4 Название организации: Автономная некоммерческая организация 
              .text-400-14 «Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь»
              .text-400-14.mt-3 ИНН 7725401309
              .text-400-14.mt-3 КПП 772501001
              .text-400-14.mt-3 ОГРН 1177700019067
              .text-400-14.mt-3 ОКПО 20002308;
              .text-400-14.mt-3 ОКТМО 45914000000; ОКАТО 45296559000
              .text-400-14.mt-3 Банковские реквизиты: Отделение Сбербанка №9038/01606 в г.Москва
              .text-400-14.mt-3 р/сч 40703810838000008526
              .text-400-14.mt-3 к/сч 30101810400000000225
              .text-400-14.mt-3 БИК 044525225 Тел. +7-916 612 34 71
              .text-400-14.mt-3 Директор Романова Е.А.





