extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          f.back__subtitle-child(href='https://centervnl.ru/parents/') Родителям
        .col-6.back__subtitle-top.text-end 
          +share("/parents/club/", "Родительский клуб")

        h1.col-12.header__subtitle.title Родительский клуб
        .col-12.mt-5 
          +long-text(club.text)