extends layout

block content
  section.about__wrapper
    .container
      .row.mx-xl-5.mt-5
        h1 ПОЛИТИКА
        h4 «АНО «Ресурсный центр «Вера. Надежда. Любовь»» в отношении обработки персональных данных

        p !{"Настоящая Политика в отношении обработки и защиты персональных данных (далее Политика) принята и действует в Автономной некоммерческой организации «Ресурсный центр помощи людям с ментальными нарушениями «Вера. Надежда. Любовь» (далее-Организация). Организация обрабатывает и защищает персональные данные, которые субъект персональных данных (Субъект ПД) предоставляет при использовании сайтов <a href='http://centervnl.ru' target='_blank'>http://centervnl.ru/</a> и  <a href='http://emo.su/' target='_blank'>http://emo.su/</a> (далее Сайты). Организации с любого устройства и при коммуникации с Организацией в любой форме, в соответствии с законодательством Российской Федерации и настоящей Политикой."}
        p Субъект персональных данных, использует Сайты Организации и предоставляя свои персональные данные посредством заполнения соответствующих форм (полей), дает свое согласие на обработку персональных данных.

        h4 Основные понятия
        p Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);
        p Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.

        h4 Перечень персональных данных
        p Организация обрабатывает следующие персональные данные пользователей Сайтов.
        ul
          li персональные данные, предоставляемые субъектом персональных данных при заполнении соответствующих форм (полей) на Сайтах Организации, в том числе при заполнении контактной формы, при регистрации на Сайтах, подписке на новостную рассылку, при регистрации на  мероприятия;
          li предоставляемые Субъектом ПД персональных данных, которые он вводит на страницах Сайтов
          li информация, полученная в результате действий Субъекта ПД на Сайте (в частности, информация о вступлении в группу / выходе из группы, добавлении других Пользователей в личные чаты, размещении фотографий, принятии участия / отказа от участия в мероприятиях, добавлении аудио- и видеозаписей, документов );
          li персональные данные, указываемые субъектом персональных данных в электронных и иных сообщениях, направляемых в адрес Организации (переписка);
          li технические данные, автоматически передаваемые устройствами, используемыми субъектом персональных данных для заполнения соответствующих форм (полей) на сайте Организации, в том числе технические характеристики устройств, IP-адрес, информация в файлах «cookies», информация о браузере, дата и время пользования сайтом Организации, адреса запрашиваемых страниц сайта Организации и иная подобная информация.
          li информация, запрашиваемая платежными системами, необходимая для оказания услуг Организацией (проведение платежей) в соответствии с договорами-офертами; 

        h4 Цели обработки персональных данных
        p Организация осуществляет обработку персональных данных исключительно в целях, для которых они были предоставлены субъектом персональных данных, в том числе:
        ul
          li регистрации субъекта персональных данных на сайте и/или приложение «ЭМО» Организации для предоставления доступа к отдельным его разделам (страницам);
          li предоставления субъекту персональных данных информации об Организации, ее деятельности, услугах и мероприятиях (новостная рассылка);
          li коммуникации с субъектом персональных данных при его обращении в адрес Организации (переписка);
          li регистрации субъекта персональных данных в качестве участника мероприятий, проводимых Организацией;
          li размещение персональных данных по собственному желанию субъекта ПД 
          li выполнения обязанностей и полномочий Организацией в соответствии с законодательством Российской Федерации.
        p Организация обрабатывает технические данные о пользовании Субъектом ПД Сайтов организации исключительно в целях обеспечения функционирования и безопасности сайта Организации, а также улучшения его качества.
        p Организация собирает аналитику (количественные показали активности пользователей: сообщения, мероприятия, лайки, тренажёры и т.п.) и использует их в обобщенном виде для улучшения качества и удобства Сайтов, а также для предоставления отчетов финансирующим организациям.
        p Организация не передает персональные данные третьим лицам без согласия Субъекта ПД, не размещает их в общедоступных источниках, не принимает решений, порождающих юридические последствия для субъекта персональных данных или иным образом затрагивающих его права и законные интересы на основании исключительно автоматизированной обработки персональных данных.

        h4 Права субъектов персональных данных
        p Субъект персональных данных имеет право:
        ul
          li получать сведения об обработке своих персональных данных путем личного обращения или направления запроса в адрес Организации;
          li требовать от Организации уточнения, блокирования или уничтожения своих персональных данных, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
          li принимать предусмотренные законом меры по защите своих прав;
          li отозвать свое согласие на обработку персональных данных;
          li обжаловать действия (бездействие) Организации в уполномоченный орган по защите прав субъектов персональных данных или в суд;
          li осуществлять иные права, предусмотренные законодательством Российской Федерации.

        h4 Безопасность персональных данных
        p Для обеспечения безопасности персональных данных при их обработке Организация принимает необходимые и достаточные правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, их уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий в отношении персональных данных. 
        p В Организации приняты локальные акты по вопросам обработки персональных данных, в том числе по обеспечению их безопасности. Работники Организации, допущенные к обработке персональных данных, ознакомлены с настоящей Политикой и локальными актами по вопросам обработки персональных данных.


        h4 Использование ссылок на сторонние сайты и службы
        p На сайте Организации могут быть размещены ссылки на сторонние сайты и службы, деятельность которых Организация не контролирует. Организация не несет ответственности за безопасность персональных данных, предоставленных субъектом персональных данных при переходе по ссылкам сторонних сайтов и служб.

        h4 Изменение Политики
        p Организация вправе изменять (обновлять) настоящую Политику в случае изменения требований законодательства или по мере необходимости. В случае изменения настоящей Политики Организация размещает на сайте соответствующее информационное сообщение. Продолжая пользоваться сайтом Организации после размещения вышеуказанного информационного сообщения, субъект персональных данных тем самым подтверждает свое согласие на обработку его персональных данных с учетом внесенных в Политику изменений.




