extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        a.col-6.back__subtitle-top.back__subtitle-child(href='/news/') Новости
        .col-6.back__subtitle-top.text-end 
          +share("/news/"+post.path, post.name)

        .col-12.header__subtitle.title= post.name
        .col-12.news__date.mt-2= post.date

    - gallery = (post.gallery && post.gallery.length) ? [...post.gallery] : []
    if post.image
      - gallery.unshift(post.image)
    if gallery.length
      .container.mt-5
        +slider(gallery)


    .container
      .row.mx-xl-5
        .mt-5 
          +long-text(post.description)
  