extends layout

block content
  .row.col-12.p-3
    .col-2 
      img.rounded.mx-auto.d-block.img-thumbnail.img-5.m-2(alt=user.name src=user.photo )
    .col-10 
      h4= user.surname + ' ' + user.name + ' ' + user.patronymic
      .col-12.pt-3
        a.orange-button.me-3(data-bs-toggle='modal' href='#editUserModal' role='button') Редактировать
        a.orange-button.me-3(href="/profile/checkout") Мои записи
      

  hr
  h2 Избранное
  if !profile.likes.products.length && !profile.likes.services.length && !profile.likes.projects.length && !profile.likes.posts.length 
    h4 Вы пока ничего не добавили в избранное
  else 
    if profile.likes.products.length
      h3.marck-script Избранные товары
      - data = profile.likes.products
      - bID = 'idBProd'
      - sID = 'idCProd'
      - rootPath = '/product/'
      include includes/multi-carusel
    
    if profile.likes.services.length
      h3.marck-script Избранные мероприятия
      - data = profile.likes.services
      - bID = 'idBS'
      - sID = 'idCS'
      - rootPath = '/services/'
      include includes/multi-carusel

    if profile.likes.posts.length
      h3.marck-script Избранные новости
      - data = profile.likes.posts
      - bID = 'idBPosts'
      - sID = 'idCPosts'
      - rootPath = '/news/'
      include includes/multi-carusel

    if profile.likes.projects.length
      h3.marck-script Избранные проекты
      - data = profile.likes.projects
      - bID = 'idBProj'
      - sID = 'idCProj'
      - rootPath = '/projects/'
      include includes/multi-carusel