extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col.about__title.title Что мы делаем

  section.about
    .container
      .row.mx-xl-5 
        each program in programs 
          .col-12.col-lg-6.mt-3.mb-3
            img.program__image.mb-3(src=program.image alt=program.name)
            .row 
              .col-3
                  img.d-block(src= program.icon alt='book')
              .col-9.d-flex.flex-column.justify-content-between
                .program__subtitle= program.name
                .program__descr= program.subtitle

              .col-12.program__text.mt-3.mb-2
                +long-text(program.description)

            a.button.button_orange.mb-3(href='/programs/'+program.path) Подробнее


          


