extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          a.back__subtitle-root(href='https://centervnl.ru/programs/') Что мы делаем
          svg.news__link-image(width='20' height='5' viewBox='0 0 20 5' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.news__link-image(fill-rule='evenodd' clip-rule='evenodd' d='M17.1044 5L19.6044 2.5L17.1044 0V2H0V3H17.1044V5Z' fill='#656973')
          a.back__subtitle-child(href='https://centervnl.ru/programs/'+program.path) 
            |  #{program.name}

        .col-6.back__subtitle-top.text-end 
          +share("/programs/"+program.path+"/"+project.path, project.name)

        .col-12.header__subtitle.title= project.name
        .col-12.grants__date.mt-2 #{project.date}

    - gallery = (project.gallery && project.gallery.length) ? [...project.gallery] : []
    if project.image
      - gallery.unshift(project.image)
    if gallery.length
      .container.mt-5
        +slider(gallery)

    .container
      .row.mx-xl-5
        .mt-5
          +long-text(project.description)

    
    if project.form
      .container
        .row.mx-xl-5
          .col-12.header__subtitle.subtitle Запись в проект
      .container
        form#form.row.mx-xl-5(action="/form" method="post")
          .col-12.col-md-6.mt-3
            .text-400-16 Имя
            input.d-none(name="q_name" value="Имя")
            input.text-input.mt-2(type='text' name='name' autocomplete='given-name' placeholder="Например, Иван" required)
          
          .col-12.col-md-6.mt-3
            .text-400-16 Телефон
            input.d-none(name="q_tel" value="Телефон")
            input.text-input.mt-2(type='tel' name='tel' autocomplete='tel' placeholder="Например, +7 916 953 83 38" required)

          .col-12.col-md-6.mt-3
            .text-400-16 Email для связи
            input.d-none(name="q_email" value="Email для связи")
            input.text-input.mt-2(type='email' name='email' autocomplete='email' placeholder="Например, example@mail.ru" required)

          
          .col-12.col-md-6.mt-3
            .text-400-16 Возраст вашего ребенка
            input.d-none(name="q_age" value="Возраст вашего ребенка")
            input.text-input.mt-2(type='text' name='age' autocomplete='off' placeholder="Например, 18 лет" required)

          .mt-4 
            .col-12.mt-2 
              span.text-400-16 Нажимая на кнопку, вы даете 
                a(href='/policy' target="_blank") согласие на обработку своих персональных данных

          .mt-4
            button.button.button_orange(type='submit') Отправить

if project.form
  block scripts
    script(src='/javascripts/valid-form.js')
