extends layout

block content
  .container.my-4.item-1
    if nav_projects && nav_projects.length 
      h1 Активные проекты
      hr.mb-5
      // Carousel Wrapper
      - var data = nav_projects
      - var bID = 'idB'
      - var sID = 'idC'
      include includes/multi-carusel
    if old_projects && old_projects.length
      each projects_group, index in old_projects
        hr.mb-5
        h2.text-dark-blue Архив за #{projects_group.year} год
        - data = projects_group.projects
        - bID = 'idB'+index
        - sID = 'idC'+index
        include includes/multi-carusel

          


