extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        a.col-12.back__subtitle-top.back__subtitle-child(href='https://centervnl.ru/about/') О нас
        .col-12.header__subtitle.title Гранты и субсидии
      .row.mx-xl-5.about__wrapper
        p.target__text
          +long-text(text)


  section.about
    .container
      .row.mx-xl-5 
        each project in projects 
          a.mt-3.mb-3(href= project.path)
            .news__subtitle= project.name
            .grants__date #{project.date}


          


