extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/about/') О нас
        h1.col-12.header__subtitle.title Поставщик социальных услуг
      .row.mx-xl-5.about__wrapper
        p.target__text
          +long-text(text)

        if docs && docs.length
          h2.title-500-32.mt-5 Документы
            .row 
              each doc in docs 
                .col-12.col-md-6.col-lg-4.mt-3 
                  .d-flex.align-items-center
                    a.doc-icon.d-inline-block(href= doc.file target="_blank")
                    a.news__subtitle.col.ms-3(href= doc.file target="_blank")= doc.name


        //- h2.title-500-32.mt-5 Отчёты
        //-   .row 
        //-     each report in reports
        //-       if report.annual
        //-         .col-12.col-md-6.col-lg-4.mt-3  
        //-           .d-flex.align-items-center
        //-             a.doc-icon.d-inline-block.me-2(href= report.annual target="_blank")
        //-             .col.d-flex.flex-column
        //-               a.title-700-20.hover-orange.col-12.ms-2(href= report.annual target="_blank") Годовой отчёт
        //-               a.text-500-16.hover-orange.col-12.ms-2(href= report.annual target="_blank")= report.year

        //-       if report.justice
        //-         .col-12.col-md-6.col-lg-4.mt-3 
        //-           .d-flex.align-items-center
        //-             a.doc-icon.d-inline-block.me-2(href= report.justice target="_blank")
        //-             .col.d-flex.flex-column
        //-               a.title-700-20.hover-orange.col-12.ms-2(href= report.justice target="_blank") Отчёт в Минюст
        //-               a.text-500-16.hover-orange.col-12.ms-2(href= report.justice target="_blank")= report.year

        //-       if report.finance
        //-         .col-12.col-md-6.col-lg-4.mt-3 
        //-           .d-flex.align-items-center
        //-             a.doc-icon.d-inline-block.me-2(href= report.finance target="_blank")
        //-             .col.d-flex.flex-column
        //-               a.title-700-20.hover-orange.col-12.ms-2(href= report.finance target="_blank") Отчёт в Минфин
        //-               a.text-500-16.hover-orange.col-12.ms-2(href= report.finance target="_blank")= report.year