extends layout

block content

  section.about
    .container
      .row.mx-xl-5
        h1.col.about__title.title Мероприятия

      .row.mx-xl-5.about__wrapper
      
        p.target__text.col.col-lg-7
          +long-text(text)

        .col-12.col-lg-7.mb-5.me-lg-3
          .d-flex.justify-content-between
            div
              svg#btnPrev.circle-grey-button(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                circle(cx="24" cy="24" r="24" fill="#E7E6E6")
                path(d="M16 23.5L28.75 16.1388L28.75 30.8612L16 23.5Z" fill="#656973")

              svg#btnNext.circle-grey-button.ms-2(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                circle(cx="24" cy="24" r="24" fill="#E7E6E6")
                path(d="M32 23.5L19.25 30.8612L19.25 16.1388L32 23.5Z" fill="#656973")
            .title-500-32#monthYear 
          .d-flex.justify-content-between.col-12.calendar-container#divCal


        .col-12.col-lg#events_list
          
              
        .col-12
          .row#events_gallary


block scripts

  script(src='/javascripts/calendar.js')