extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/about/') О нас
        h1.col-12.header__subtitle.title СМИ о нас
      .row.mx-xl-5
        p.target__text
          +long-text(text)


  section.about.about__wrapper
    .container
      .row.mx-xl-5
        each post in posts 
          .row.mb-5 
            .col-12.col-md-3= post.date
            
            .col-12.col-md-9
              a.news__subtitle(href= post.url target="_blank")= post.name
              div
                a.news__link(href= post.url target="_blank") Источник


          


