extends layout

block content

  section.about
    .container
      .row.mx-xl-5
        a.col-12.back__subtitle-top.back__subtitle-child(href='/about/') О нас
        .col-12.header__subtitle.title Наши победы
      .row.mx-xl-5.about__wrapper
        p.target__text
          +long-text(text)
      
      .row.mx-xl-5.about__wrapper
        each item in wins
          .col-12.col-lg-6 
            a(href= item.path)
              if item.image
                img.review__image.mb-3.mt-2(alt=item.name src=item.image)
              else 
                .review__image.mb-3.mt-2.d-none.d-lg-block
              .title-600-20.mb-3= item.name

              .text-500-14.rows-4.mb-5= item.description
        
