<div class="col" *ngIf="loading == 0; else loader">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>{{id ? 'Редактирование' : 'Добавление'}} проекта</h3>
                <h5>Название:</h5>
                <input type="text" class="form-control" formControlName="name">

                <div class="row" formGroupName="period">
                    <div class="col-lg-6 col-sm-12">
                        <h5>Дата начала:</h5>
                        <input class="form-control" type="date" formControlName="start">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h5>Дата окончания:</h5>
                        <input class="form-control" type="date" formControlName="end">
                    </div>
                </div>

                <h5>Путь:</h5>
                <input type="text" class="form-control" formControlName="path" placeholder="Необязательно">
                <h5>Обложка из файла:</h5>
                <input type="file" class="form-control" (change)="onFileUpload($event)">
                <h5>Обложка по ссылке:</h5>
                <input type="text" class="form-control" formControlName="image" (change)="photoURL()"
                placeholder="Добавляйте только общедоступные ссылки">
            </div>
            <div class="col-xs-12 col-sm-6">
                <img *ngIf="imagePreview" [src]="imagePreview" class="img-contain">
            </div>
        </div>
        
        <h5>Добавить в галерею из файлов:</h5>
        <input type="file" class="form-control" (change)="onGalleryUpload($event)" multiple>
        <app-horizontal-gallery [data]="galleryPreview"  (delete)="deletePhotoByIndex($event)"></app-horizontal-gallery>
        <h5>Добавить в галерею по ссылке:</h5>
        <div formArrayName="gallery">
            <div class="input-group mb-3" *ngFor="let photo of form.controls.gallery.controls; index as i">
                <input class="form-control" type="text" placeholder="Добавляйте только общедоступные ссылки"
                [formControlName]="i">
                <span class="input-group-text input-group-btn btn btn-custom" (click)="deleteURLByIndex(i)">
                  <i class="fa fa-trash"></i>
                </span>
            </div>
        </div>

        <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusToGallery()">
            <i class="fa fa-plus"></i>
        </button>
        <app-horizontal-gallery [data]="form.value.gallery" (delete)="deleteURLByIndex($event)"></app-horizontal-gallery>

        <div class="mb-5">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input mt-1" type="checkbox" formControlName="is_grant">
                <h4>Получен грант</h4>
            </div>
            <ng-container *ngIf="form.value.is_grant">
                <h5>Грантовое описание</h5>
                <textarea class="form-control" formControlName="description" rows="15"></textarea>

                <h5>Документы и отчёты по гранту</h5>
                <div formArrayName="content">
                    <div class="col-12 mb-3" *ngFor="let item of form.controls.content.controls; index as i">
                      <div [formGroupName]="i" class="row">
                        <div class="col-6">
                          <input class="form-control" formControlName="text" placeholder="Подпись">
                        </div>
                        <div class="col-5">
                          <input class="form-control" formControlName="url" placeholder="Ссылка на файл">
                        </div>
                        <span class="btn btn-custom col-1" (click)="deleteContentByIndex(i)">
                          <i class="fa fa-trash"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusToContent()">
                    <i class="fa fa-plus"></i>
                </button>
            </ng-container>
        </div>

        <ng-container formArrayName="programs" *ngIf="programs && programs.length">
            <h4>Включён в благотворительные программы:</h4>
            <div class="mb-5" *ngFor="let item of form.controls.programs.controls; index as i">
                <div [formArrayName]="i" class="row ms-1 me-1">
                    <select class="form-select form-select-lg col" formControlName="program">
                        <option [value]="null">Выберите</option>
                        <option *ngFor="let prog of programsFilter(form.controls.programs.controls[i].value.program)" [value]="prog._id">{{prog.name}}</option>
                    </select>
                    <span class="btn btn-custom col-2 col-sm-1" (click)="deleteProgramByIndex(i)">
                        <i class="fa fa-trash"></i>
                    </span>
                    <h5 class="mt-2">Описание на странице проекта в рамках программы программы:</h5>
                    <textarea class="form-control" formControlName="description" rows="5"></textarea>

                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input mt-3" type="checkbox" formControlName="form">
                        <h5>Показывать форму записи в проект на странице проекта</h5>
                    </div>
                </div>
            </div>
        </ng-container>
        <button class="btn btn-custom mb-3" type="button" (click)="plusToProgram()">
            <i class="fa fa-plus"></i>
        </button>

        <div class="form-check form-switch mt-2">
            <input class="form-check-input mt-1" type="checkbox" id="flexSwitchCheckChecked" formControlName="visible">
            <h5>Отображать на сайте</h5>
        </div>
        <button class="btn btn-secondary mt-3 me-2 mb-3" type="button" (click)="back()">
            Назад
        </button>
        <button class="btn btn-custom mt-3 mb-3" type="submit">
            {{id ? 'Сохранить' : 'Создать'}}
        </button>
    </form>
</div>


<ng-template #loader>
    <app-loader></app-loader>
</ng-template>



  
