<div class="col" *ngIf="loading == 0; else loader">

    <form [formGroup]="contactsForm" (ngSubmit)="onSubmitContacts()">
        <h3>Контакты</h3>
        <h5>Адрес:</h5>
        <input type="text" class="form-control" formControlName="address">
        <h5>Телефон:</h5>
        <input type="tel" class="form-control" formControlName="phone">
        <h5>Email:</h5>
        <input type="email" class="form-control" formControlName="email">
        <button class="btn btn-custom mt-4" type="submit">
            Сохранить
        </button>
    </form>
    <hr>
    <app-multi-slider page="Галерея фраз на главной, добавлять не более 4" *ngIf="gallery" [data]="gallery" 
    (add)="createSlide($event)" (edit)="editSlide($event)" (delete)="deleteSlide($event)" (visible)="visibleSlide($event)"></app-multi-slider>
    <hr>

    <h3>Текст на странице партнёры</h3>
    <form [formGroup]="partnersForm" (ngSubmit)="onSubmitPartners()" *ngIf="!loading">
        <div class="row">
            <div class="col">
                <textarea class="form-control" formControlName="text" rows="3"></textarea>
            </div>
            <div class="col-2">
                <button class="btn btn-custom" type="submit">
                    Сохранить
                </button>
            </div>
        </div>
    </form>

    <app-multi-slider page="Партнёры" *ngIf="partners" [data]="partners" 
    (add)="createPartner($event)" (edit)="editPartner($event)" (delete)="deletePartner($event)" (visible)="visiblePartner($event)"></app-multi-slider>
</div>

<!-- <app-add-tag (close)="closeTagForm($event)" [tag]="currentTag" *ngIf="tagForm"></app-add-tag> -->

<!-- <app-hypertext-modal *ngIf="htModal" (close)="closeHtModal($event)"></app-hypertext-modal> -->

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
