body {
  font: 14px "raleway", Helvetica, Arial, sans-serif;
}

.nav-logo {
  height: 50px;
  display: inline-block;
}

.footer_logo {
  height: 50px;
  display: inline-block;
  margin: 3px;
}

.sticky-footer {
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.anouncement-box {
  height: 420px;
  border: 0.15rem solid rgb(247,141,46);
  border-radius: 0.6rem;
}

.img-cover {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar-bottom {
  bottom: 0;
  position: absolute;
}

.first-container {
  margin-top: 100px;
}

.yellow-text {
  color: rgb(255,255,146);
}

.orange-text {
  color: rgb(247,141,46);
}

.dropdown-item {
  background-color: rgb(255,255,146);
  color: rgb(247,141,46);
}

.navbar-brand {
  z-index: 200000;
}

.dropdown-item:hover {
  color: rgb(255,255,146);
  background-color: rgb(247,141,46);
}

.text-justify {
  text-align: justify;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.text-block-anouncement {
  max-height: 420px;
}

.mh-300 {
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

.orange-button {
  color: rgb(255,255,146);
  background-color: rgb(247,141,46);
  font-family: 'Marck Script', cursive;
  border: 0.15rem solid rgb(255,255,146);
  border-radius: 0.6rem;
  padding: 0.7rem;
  font-size: medium;
}

.orange-button:hover {
  background-color: rgb(3,178,183);
}

.bg-light-blue {
  background-color: rgb(182,249,249);
}

.text-dark-blue {
  color: rgb(15,79,79);
}

.small-user-nav {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-top: -10px;
}

.img-5 {
  width: calc(6vh + 3vw) !important;
  height: calc(6vh + 3vw) !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}