a.basket.basket-xl.d-none.d-xl-block#basket-lg(href='/shop/basket/')
  .basket-circle.d-flex.justify-content-center.align-items-center
    svg(width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M1.1002 0C0.603335 0 0.200195 0.40314 0.200195 0.9C0.200195 1.39686 0.603335 1.8 1.1002 1.8H4.6909C6.18034 5.4891 7.64755 9.1851 9.1252 12.8814L7.76584 16.1532C7.65216 16.4262 7.6838 16.7544 7.84787 17.0005C8.01193 17.2466 8.30372 17.4012 8.60021 17.4001H23.6002C24.076 17.4071 24.5131 16.9758 24.5131 16.5001C24.5131 16.0243 24.076 15.593 23.6002 15.6001H9.95021L10.7283 13.7438L25.1751 12.5907C25.5537 12.5614 25.8958 12.2661 25.9814 11.8969L27.7814 4.09692C27.8986 3.57192 27.438 2.99886 26.9001 3.00006H7.10945L6.13445 0.56256C6.00085 0.23208 5.65631 6.00815e-05 5.30009 6.00815e-05L1.1002 0ZM7.8316 4.8H25.7659L24.369 10.8564L10.6908 11.9439L7.8316 4.8ZM11.6002 18C9.95371 18 8.6002 19.3535 8.6002 21C8.6002 22.6465 9.95371 24 11.6002 24C13.2467 24 14.6002 22.6465 14.6002 21C14.6002 19.3535 13.2467 18 11.6002 18ZM20.6002 18C18.9537 18 17.6002 19.3535 17.6002 21C17.6002 22.6465 18.9537 24 20.6002 24C22.2467 24 23.6002 22.6465 23.6002 21C23.6002 19.3535 22.2467 18 20.6002 18ZM11.6002 19.8C12.274 19.8 12.8002 20.3262 12.8002 21C12.8002 21.6738 12.274 22.2 11.6002 22.2C10.9264 22.2 10.4002 21.6738 10.4002 21C10.4002 20.3262 10.9264 19.8 11.6002 19.8ZM20.6002 19.8C21.274 19.8 21.8002 20.3262 21.8002 21C21.8002 21.6738 21.274 22.2 20.6002 22.2C19.9264 22.2 19.4002 21.6738 19.4002 21C19.4002 20.3262 19.9264 19.8 20.6002 19.8Z" fill="white")

  .basket-text
    .text-600-12 #{basket.count} #{basket.text}
    .text-600-12-orange #{basket.price} руб


a.basket.basket-sm.d-block.d-xl-none#basket-sm(href='/shop/basket/')
  svg(width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1.3998 0C1.06856 0 0.799805 0.26876 0.799805 0.6C0.799805 0.93124 1.06856 1.2 1.3998 1.2H3.7936C4.78657 3.6594 5.76471 6.1234 6.74981 8.5876L5.84356 10.7688C5.76778 10.9508 5.78888 11.1696 5.89825 11.3336C6.00763 11.4977 6.20215 11.6008 6.39981 11.6H16.3998C16.717 11.6047 17.0084 11.3172 17.0084 11C17.0084 10.6829 16.717 10.3954 16.3998 10.4H7.29981L7.81857 9.16254L17.4498 8.39378C17.7021 8.37425 17.9302 8.17738 17.9873 7.93128L19.1873 2.73128C19.2654 2.38128 18.9584 1.99924 18.5998 2.00004H5.40597L4.75597 0.37504C4.66691 0.15472 4.43721 4.00543e-05 4.19973 4.00543e-05L1.3998 0ZM5.8874 3.2H17.8436L16.9124 7.2376L7.79357 7.9626L5.8874 3.2ZM8.39981 12C7.30215 12 6.39981 12.9023 6.39981 14C6.39981 15.0977 7.30215 16 8.39981 16C9.49747 16 10.3998 15.0977 10.3998 14C10.3998 12.9023 9.49747 12 8.39981 12ZM14.3998 12C13.3021 12 12.3998 12.9023 12.3998 14C12.3998 15.0977 13.3021 16 14.3998 16C15.4975 16 16.3998 15.0977 16.3998 14C16.3998 12.9023 15.4975 12 14.3998 12ZM8.39981 13.2C8.84903 13.2 9.19981 13.5508 9.19981 14C9.19981 14.4492 8.84903 14.8 8.39981 14.8C7.95059 14.8 7.59981 14.4492 7.59981 14C7.59981 13.5508 7.95059 13.2 8.39981 13.2ZM14.3998 13.2C14.849 13.2 15.1998 13.5508 15.1998 14C15.1998 14.4492 14.849 14.8 14.3998 14.8C13.9506 14.8 13.5998 14.4492 13.5998 14C13.5998 13.5508 13.9506 13.2 14.3998 13.2Z" fill="#30333A")
  .basket-circle.d-flex.justify-content-center.align-items-center
    .basket-sm-text #{basket.count}

