.chatbot.d-none
  .chatbot__title
    span.chatbot__close
    | Цифровой помощник
    span.chatbot__reset
  .chatbot__wrapper
    .chatbot__items
      .chatbot__item.chatbot__item_bot
        .chatbot__content.chatbot__content_bot Добрый день!<br>Я Цифровой помощник.<br>Буду рад ответить на все ваши вопросы.
  .chatbot__footer
    input.chatbot__input(type='text')
    button.chatbot__submit(type='button' disabled='')

  