<div class="col" *ngIf="loading == 0; else loader">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h3>{{id ? 'Редактирование' : 'Добавление'}} товара</h3>
              <h5>Название:</h5>
              <input type="text" class="form-control" formControlName="name">

              <h5>Путь:</h5>
              <input type="text" class="form-control" formControlName="path" placeholder="Необязательно">

              <h5>Подраздел:</h5>
              <input class="form-control" list="datalistOptions" formControlName="group">
              <datalist id="datalistOptions">
                <option *ngFor="let group of groups" [value]="group">{{group}}</option>
              </datalist>
              <h5>Обложка из файла:</h5>
              <input type="file" class="form-control" (change)="onFileUpload($event)">
              <h5>Обложка по ссылке:</h5>
              <input type="text" class="form-control" formControlName="image" (change)="photoURL()"
              placeholder="Добавляйте только общедоступные ссылки">

              <h5>Базовая стоимость:</h5>
              <input type="number" class="form-control" formControlName="price" placeholder="Будет указана на карточке товаре">
          </div>
          <div class="col-xs-12 col-sm-6">
              <img *ngIf="imagePreview" [src]="imagePreview" class="img-contain">
          </div>
      </div>
      
      

        <h5>Опции - укажите опции товара и коэффициент - число, на которое будет умножаться базовая цена при выборе опции:</h5>
        <ng-container formArrayName="options">
            <div *ngFor="let option of form.controls.options.controls; index as j">
              <div [formGroupName]="j">
                <input type="text" class="form-control mb-2 mt-4" formControlName="name"  placeholder="Название опции">
                <div class="form-row">
                  <div class="col-2">
                    <h6>Коэффициент:</h6>
                  </div>
                  <div class="col-10">
                    <h6>Название варианта:</h6>
                  </div>
                </div>
                <div formArrayName="variants">

                  <ng-container *ngFor="let item of this.form.controls.options.controls[j].controls.variants.controls; index as i">
                    <div class="form-row" [formGroupName]="i">
                        <div class="col-2 form-group">
                            <input type="number" class="form-control" formControlName="price">
                        </div>
                        <div class="form-group" [ngClass]="{'col-9': i != 0, 'col-10': i == 0}">
                            <input type="text" class="form-control" formControlName="name" placeholder="Название варианта">
                        </div>
                        <div class="col-1" *ngIf="i != 0">
                            <button class="btn btn-custom col-12" type="button" (click)="deleteVariant(j, i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                  </ng-container>
                  <button class="btn btn-custom  me-2 mb-3 mt-3" type="button" (click)="plusVariant(j)">
                    <i class="fa fa-plus"></i>
                  </button>
                  <button class="btn btn-custom mb-3 mt-3" type="button" (click)="deleteOption(j)">
                    Удалить опцию
                    <i class="fa fa-trash"></i>
                  </button>
                </div>

              </div>
            </div>
            <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusOption()">
                Добавить опцию
                <i class="fa fa-plus"></i>
            </button>
        </ng-container>

        <h5>Описание <i class="fa-solid fa-circle-info text-blue-hover" (click)="openHtModal()"></i></h5>
        <textarea class="form-control" formControlName="description" rows="10"></textarea>


      <h5>Добавить в галерею из файлов:</h5>
      <input type="file" class="form-control" (change)="onGalleryUpload($event)" multiple>
      <app-horizontal-gallery [data]="galleryPreview"  (delete)="deletePhotoByIndex($event)"></app-horizontal-gallery>

      <h5>Добавить в галерею по ссылке:</h5>
      <div formArrayName="gallery">
          <div class="input-group mb-3" *ngFor="let photo of form.controls.gallery.controls; index as i">
              <input class="form-control" type="text" placeholder="Добавляйте только общедоступные ссылки"
              [formControlName]="i">
              <span class="input-group-text input-group-btn btn btn-custom" (click)="deleteURLByIndex(i)">
                <i class="fa fa-trash"></i>
              </span>
          </div>
      </div>
      <button class="btn btn-custom mb-3 mt-3" type="button" (click)="plusToGallery()">
          <i class="fa fa-plus"></i>
      </button>
      <app-horizontal-gallery [data]="form.value.gallery" (delete)="deleteURLByIndex($event)"></app-horizontal-gallery>

      <h5>Перенести в другой раздел</h5>
      <select class="form-select" formControlName="shop">
        <option *ngFor="let shop of shops" [value]="shop._id">{{shop.name}}</option>
      </select>

      <div class="form-check form-switch mt-2">
          <input class="form-check-input mt-1" type="checkbox" formControlName="visible">
          <h5>Отображать на сайте</h5>
      </div>


      <button class="btn btn-secondary mt-3 me-2 mb-3" type="button" (click)="back()">
          Назад
      </button>
      <button class="btn btn-custom mt-3 mb-3" type="submit">
          {{id ? 'Сохранить' : 'Создать'}}
      </button>
  </form>
</div>

<app-hypertext-modal *ngIf="htModal" (close)="closeHtModal($event)"></app-hypertext-modal>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
