<h3>Текст на странице СМИ</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
    <div class="row">
        <div class="col">
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
        </div>
        <div class="col-2">
            <button class="btn btn-custom" type="submit">
                Сохранить
            </button>
        </div>
    </div>
</form>

<a class="btn btn-custom mt-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0 && !loading">
  <i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-custom mt-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && !loading">
  <i class="fa fa-arrow-right"></i>
</a>


<div class="container mb-3 mt-5 col-12">
  <table class="table table-striped">
      <thead>
          <tr class="table-primary">
              <th class="col-1 text-center"><h4>№</h4></th>
              <th class="col-2 text-center"><h4>Дата</h4></th>
              <th class="col-8"><h4>Заголовок</h4></th>
              <th class="col-1 text-center">
                <a class="btn btn-custom" role="button" (click)="goToPost('new')">
                  <i class="fa fa-plus"></i>
                </a>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of posts; index as i" 
          [ngClass]="{'table-success': item.visible,'table-danger': !item.visible}">
              <td class="col-1 text-center">
                  <p class="desc-text">{{i + 1 + offset}}</p>
              </td>

              <td class="col-2 text-center">
                <p class="desc-text">{{item.date | date:"dd.MM.yyyy"}}</p>
              </td>
              <td class="col-8">
                <p class="desc-text">{{item.name}}</p>
              </td>
              <td class="col-1 text-center">
                  <a class="btn btn-custom" role="button" (click)="goToPost(item._id)">
                      <i class="fa fa-pen"></i>
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<a class="btn btn-custom mb-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0 && !loading">
  <i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-custom mb-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && !loading">
  <i class="fa fa-arrow-right"></i>
</a>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
