<hr>

<select class="form-select form-select-lg" [(ngModel)]="group" *ngIf="!loading && groups && groups.length" (change)="loadNewGroup()">
  <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
</select>

<app-table (create)="create($event)" (edit)="edit($event)" [noAdd]="!(groups && groups.length)"
*ngIf="!loading; else loader" [data]="products" [offset]="0" [title]="['Название', 'Цена', 'Описание']" [columns]="[3, 1, 5]"></app-table>



<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

