<ng-container *ngIf="ready <= 0; else loader">
  <app-page-title title="Запись" text="{{service.name}}"></app-page-title>

  <ng-container *ngIf="dates && dates.length; else noDates">
    <ng-container *ngFor="let chd of dates">
      <button class="btn me-2" role="button" (click)="newDate(chd)" [ngClass]="{'btn-warning': chd == date, 'btn-custom': chd != date}">
        {{chd | date:"dd.MM.yyyy HH:mm":"UTC +3"}}
      </button>
    </ng-container>
  </ng-container>
  <ng-template #noDates>
    <h3>Записей нет</h3>
  </ng-template>

  <ng-container *ngIf="!loading && dates && dates.length" >
    <hr>
    <a class="btn btn-custom mt-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0">
      <i class="fa fa-arrow-left"></i>
    </a>
    <a class="btn btn-custom mt-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && checkouts.length">
        <i class="fa fa-arrow-right"></i>
    </a>

    
    <div class="container mb-3 mt-5 col-12">
      <table class="table table-striped">
          <thead>
              <tr class="table-primary">
                  <th class="col-1 text-center"><h4>№</h4></th>
                  <th class="col-1 text-center"><h4>Дата</h4></th>
                  <th class="col-1 text-center"><h4>Фамилия</h4></th>
                  <th class="col-1 text-center"><h4>Имя</h4></th>
                  <th class="col-1 text-center"><h4>Отчество</h4></th>
                  <th class="col-1 text-center"><h4>Email</h4></th>
                  <th class="col-1 text-center"><h4>Телефон</h4></th>
                  <!-- <th class="col-8"><h4>Заголовок</h4></th> -->
                  <th class="col-1 text-center">
                    <!-- <a class="btn btn-custom" role="button" (click)="goToPost('new')">
                      <i class="fa fa-plus"></i>
                    </a> -->
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of checkouts; index as i" 
              class="table-{{colorStatuses[item.status]}}">
                  <td class="col-1 text-center">
                      <p class="desc-text">{{i + 1 + offset}}</p>
                  </td>

                  <td class="col-1 text-center">
                    <p>{{item.created | date:"dd.MM.yyyy"}}</p>
                  </td>
                  <td class="col-1 text-center">
                    <p class="desc-text">{{item.surname}}</p>
                  </td>
                  <td class="col-1 text-center">
                    <p class="desc-text">{{item.name}}</p>
                  </td>
                  <td class="col-1 text-center">
                    <p class="desc-text">{{item.patronumic}}</p>
                  </td>
                  <td class="col-1 text-center">
                    <p class="desc-text">{{item.email}}</p>
                  </td>
                  <td class="col-1 text-center">
                    <p class="text-center">{{item.tel}}</p>
                  </td>
                  <td class="col-1 text-center">
                      <a class="btn btn-custom" role="button" (click)="edit(item._id)">
                          <i class="fa fa-pen"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>

    <a class="btn btn-custom mb-3 me-2" role="button" (click)="loadMore(false)" *ngIf="offset > 0">
        <i class="fa fa-arrow-left"></i>
    </a>
    <a class="btn btn-custom mb-3" role="button" (click)="loadMore(true)" *ngIf="!noMore && checkouts.length">
        <i class="fa fa-arrow-right"></i>
    </a>
  </ng-container>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>